distributions/ninja-d.js/data/flows.json
[{"id":"4c758bd648c6587f","type":"tab","label":"n4D: nodi a livello dashboard","disabled":false,"locked":true,"info":"","env":[]},{"id":"b8a32b522f9c2deb","type":"tab","label":"Global setup","disabled":false,"info":"","env":[]},{"id":"bd599afef1e5335e","type":"tab","label":"n4D: Dati aziendali","disabled":false,"info":"","env":[]},{"id":"f7e1750bc277387a","type":"tab","label":"n4D: Mercati globali","disabled":false,"info":"","env":[]},{"id":"e0e9613a06881657","type":"tab","label":"n4D: Amministrazione e Finanza","disabled":false,"info":"","env":[]},{"id":"74a3052ef3176e1c","type":"tab","label":"n4D: Vendite/CRM","disabled":false,"info":"","env":[]},{"id":"70392da6e1db9a70","type":"tab","label":"n4D: PCG & QDCA","disabled":false,"info":"","env":[]},{"id":"157ae832e595a2da","type":"tab","label":"n4D: Monitoraggio colture e ambiente","disabled":false,"info":"Questa pagina dashboard è organizzata per schede (tab), una per ogni settore produttivo/operativo, come Coltivazione in campo, Coltivazione in serra, Ricettività Horeca, Erbe officinali, ecc.","env":[]},{"id":"2755769613e603d3","type":"group","z":"74a3052ef3176e1c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["1df08717a00569bc","eb610c5482111bca","43471e3019976c09","a19d3bf17497d89d","17ebfac71119c802"],"x":14,"y":659,"w":792,"h":82},{"id":"69f5e45e9bfd50e9","type":"group","z":"74a3052ef3176e1c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["836d6588fda1b280","b0f26f9d06fb9fff","35a45d0e7eed4d5c","97636ef0aec1b740","d7bf8d06ab21bf32","4718ff0c8993220d","368e7615c0afb271","807d583c7ab7f7c1"],"x":14,"y":319,"w":892,"h":322},{"id":"751e8bbad7e929a7","type":"group","z":"b8a32b522f9c2deb","name":"Prova gruppo (con nome)","style":{"stroke":"#ff0000","fill":"#bfdbef","label":true,"label-position":"n","color":"#0070c0"},"nodes":["24a50cb994d489d1","15d11f5adf3230ff"],"x":54,"y":79,"w":392,"h":142},{"id":"3331b4057f65e12d","type":"group","z":"e0e9613a06881657","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7e76664cce298b1e","b88d78cf1f766f19","063ea5ffdabc83f2","d121fb13e732cbd8","78bd10568bc00676","5b9436abcc6f74e6"],"x":94,"y":439,"w":552,"h":262},{"id":"3e140818f1a7d9b3","type":"group","z":"e0e9613a06881657","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["cf63ac56e0674637","2389c8427df1a8d7","ad169ad42194a92f","a30db28e74a8afa4","b37dbef0042a42f2","4a797148a24b18ca"],"x":94,"y":719,"w":472,"h":322},{"id":"73b6ef3eb0559eea","type":"group","z":"e0e9613a06881657","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["0695067cd9afbda5","65cfc0c2fc8129a4","2c243fca853cb5f9","426171c1f999288d","bdcda5f079ed8de8"],"x":794,"y":439,"w":312,"h":202},{"id":"3614c258766e69c7","type":"group","z":"157ae832e595a2da","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["59ecb234d07216df","affc3e37e1b5324d","39d24baeae590637","fbbf60d01d2296fe"],"x":34,"y":59,"w":772,"h":142},{"id":"1d1e380804c3a105","type":"group","z":"157ae832e595a2da","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["70ddedeafd47eed2","f7e4204c9bfae102","80dfea2d5631e9f9","69a51d9ef949c48c","8ac6e5bbd467af56","c3c7092de7a6d353","38ed211c8b6c4813","212877a27607375f","bf18648258a5877a","8eb1aff10f8ae28b","18eb8167f78a6d75","63f617158dcae4f4","3c1db1f19f0da34e","ecca6192c6746510","24471556c3bbf947","f62bbf9dc14d452d"],"x":34,"y":239,"w":632,"h":562},{"id":"49d7b5a2a91bd387","type":"group","z":"157ae832e595a2da","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d67817bfd06c4659","462ccd9eed3bea0d"],"x":748,"y":279,"w":684,"h":328},{"id":"fcf31c40b0535ef0","type":"group","z":"70392da6e1db9a70","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["3e17c823a2765a9f","ad4602735a5c3aac","f114039c5ae08e77","0cb6ee8540b04e66","1b602b228d87bd43","310291a7723e1b44","6623e2ae62f6d7c4","149bdaa0575f55c9","58b3f4d0cace0e6b"],"x":294,"y":499,"w":872,"h":282},{"id":"9fa31d31e6b50a2d","type":"group","z":"70392da6e1db9a70","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["82948a4bfee064a0","e8c4a7b26ea6e29f","847a22f8dd857a84","6fd70b2eaedca204","a79c4a436240d330","1426a2d0c8f1798a"],"x":294,"y":99,"w":852,"h":342},{"id":"a4bedbe0596cf8be","type":"group","z":"74a3052ef3176e1c","name":"Conversione CSV-JSON (OK)","style":{"fill":"#ffefbf","label":true,"label-position":"n","color":"#0070c0"},"nodes":["9fd3760699abeb25","d8581f2fa16be8a8","06497366b0cba79f","3ac5c069daf47dba","10989fecc0f0d9ad"],"x":14,"y":119,"w":832,"h":162},{"id":"05d0c8e10f9dd3c1","type":"group","z":"74a3052ef3176e1c","name":"Conversione CSV-JSON (OK)","style":{"fill":"#ffefbf","label":true,"label-position":"n","color":"#0070c0"},"nodes":["738275b3959620ae","214ccc51899cfe73","2bb637615803dc76","228e42d19e032cc9"],"x":934,"y":99,"w":552,"h":182},{"id":"1c0aa1f21413cb3a","type":"group","z":"e0e9613a06881657","name":"Conversione CSV-JSON (OK)","style":{"fill":"#ffefbf","label":true,"label-position":"n","color":"#0070c0"},"nodes":["537eac833e6af5ef","3d104ba0785b6603","a884bdc995462fd7","f064699ba4ec21c0","e4a3ebba7a60746b","f23e8f29ccaab58d","b148d3f840b8bc13","b6e5182c9139d609","9f6fd3f63a57e59e"],"x":284,"y":19,"w":622,"h":362},{"id":"03a5c05ab8da4d34","type":"group","z":"e0e9613a06881657","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["fc1d8139f215f9b6","30d8c987ff585b91","12b9371894d67f31","fce1012392c86f1c","32359fb6b629826f","19b8448e16138c84","1f82fa8bf6a33955","36ec2345c520aea9","d0039598afa5891d","891b370b279c85d5","ed8693c8fd163db2","166d01dfe0e4f72f","3534a1b8abb5cbf2"],"x":614,"y":719,"w":792,"h":462},{"id":"462ccd9eed3bea0d","type":"group","z":"157ae832e595a2da","g":"49d7b5a2a91bd387","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["9ec436d1de9a0656","2f379e0f0f61aca7","21210841be63e29e","7da7d1b3aa9ea759","62184cdef51b4bee","ec13bd92c251ce73","81c930a7e761630c"],"x":774,"y":359,"w":632,"h":222},{"id":"903ea6c5e35b6ed0","type":"ui-base","name":"My Dashboard","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":true,"headerContent":"page","navigationStyle":"temporary","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":1,"showDisconnectNotification":true,"allowInstall":true},{"id":"c2ff5ba1f92a0f0e","type":"ui-theme","name":"Default","colors":{"surface":"#ffffff","primary":"#0094ce","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px","density":"default"}},{"id":"bec6327b9e89caa1","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094CE","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"a19fed6ca980232a","type":"ui-page","name":"n4D: Vendite/CRM","ui":"903ea6c5e35b6ed0","path":"/n4d-sales","icon":"home","layout":"grid","theme":"c2ff5ba1f92a0f0e","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":4,"className":"","visible":"true","disabled":"false"},{"id":"035ed36164d77602","type":"ui-group","name":"Vendite esercizio corrente","page":"a19fed6ca980232a","width":"12","height":1,"order":2,"showTitle":true,"className":"text-h1 text--primary text-center","visible":"true","disabled":"false","groupType":"default"},{"id":"d69657ffca0d886c","type":"ui-group","name":"Pipeline commerciale (riepilogo)","page":"a19fed6ca980232a","width":"12","height":1,"order":1,"showTitle":true,"className":"text-h1 text--primary text-center","visible":"true","disabled":"false","groupType":"default"},{"id":"bde8e0691e30582e","type":"ui-group","name":"Vendite storico esercizi","page":"a19fed6ca980232a","width":"12","height":1,"order":3,"showTitle":true,"className":"text-h1 text--primary text-center","visible":"true","disabled":"false","groupType":"default"},{"id":"129e99574def90a3","type":"ui-theme","name":"Another Theme","colors":{"surface":"#000000","primary":"#ff4000","bgPage":"#f0f0f0","groupBg":"#ffffff","groupOutline":"#d9d9d9"},"sizes":{"pagePadding":"9px","groupGap":"12px","groupBorderRadius":"9px","widgetGap":"6px"}},{"id":"343a90f05a800fbf","type":"ui-page","name":"n4D: Mercati globali","ui":"903ea6c5e35b6ed0","path":"/page33","icon":"home","layout":"grid","theme":"c2ff5ba1f92a0f0e","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":2,"className":"","visible":"true","disabled":"false"},{"id":"f6269c66500dfd6d","type":"ui-group","name":"Produzione EU-ITA","page":"343a90f05a800fbf","width":"12","height":1,"order":1,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"9736bce211ee82ac","type":"ui-page","name":"n4D: Amministrazione e Finanza","ui":"903ea6c5e35b6ed0","path":"/page30","icon":"home","layout":"grid","theme":"c2ff5ba1f92a0f0e","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":3,"className":"","visible":"true","disabled":"false"},{"id":"efca6354a670c5c3","type":"ui-group","name":"Controllo di gestione","page":"9736bce211ee82ac","width":"12","height":1,"order":4,"showTitle":true,"className":"text-h1 text--primary text-center","visible":"true","disabled":"false","groupType":"default"},{"id":"f518427046c1d8fb","type":"ui-group","name":"Andamento economico-gestionale","page":"9736bce211ee82ac","width":"12","height":"1","order":5,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"d9ee04dbfa2a7613","type":"ui-page","name":"n4D: Dati aziendali","ui":"903ea6c5e35b6ed0","path":"/n4d-dati-aziendali2","icon":"home","layout":"grid","theme":"c2ff5ba1f92a0f0e","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"efd446cb659e9bc2","type":"ui-page","name":"n4D: PCG & QDCA","ui":"903ea6c5e35b6ed0","path":"/n4d-qdca","icon":"home","layout":"grid","theme":"bec6327b9e89caa1","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":5,"className":"","visible":true,"disabled":false},{"id":"08eaa7054e5d1756","type":"ui-page","name":"n4D: Monitoraggio RT clima","ui":"903ea6c5e35b6ed0","path":"/page35","icon":"home","layout":"grid","theme":"c2ff5ba1f92a0f0e","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":7,"className":"","visible":"true","disabled":"false"},{"id":"b254d4d3dcc7236d","type":"ui-group","name":"Condizioni climatiche al suolo (2mt)","page":"08eaa7054e5d1756","width":6,"height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"ead66a445f48797f","type":"ui-page","name":"n4D: Monitoraggio RT Campi","ui":"903ea6c5e35b6ed0","path":"/page32","icon":"home","layout":"grid","theme":"c2ff5ba1f92a0f0e","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":8,"className":"","visible":"true","disabled":"false"},{"id":"52e7f7676b8bcc57","type":"ui-page","name":"n4D: Monitoraggio RT Serre","ui":"903ea6c5e35b6ed0","path":"/page31","icon":"home","layout":"grid","theme":"c2ff5ba1f92a0f0e","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":9,"className":"","visible":true,"disabled":false},{"id":"015801e603ac172e","type":"ui-page","name":"n4D: Monitoraggio colture e ambiente","ui":"903ea6c5e35b6ed0","path":"/page232","icon":"home","layout":"tabs","theme":"bec6327b9e89caa1","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":6,"className":"","visible":"true","disabled":"false"},{"id":"0331e114a0bd495b","type":"ui-group","name":"Coltivazione - Campi","page":"015801e603ac172e","width":6,"height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"915fefbb7730be1d","type":"ui-group","name":"Produzioni derivate","page":"52e7f7676b8bcc57","width":6,"height":1,"order":4,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"077e5e7b861ad4f4","type":"ui-group","name":"Meteo e Clima","page":"015801e603ac172e","width":6,"height":1,"order":3,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"4fed6a0788fc2d97","type":"ui-group","name":"Attività ricettive (Horeca)","page":"015801e603ac172e","width":6,"height":1,"order":4,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"f8f4ce4ecccce8c4","type":"ui-group","name":"n4D: Dati aziendali","page":"d9ee04dbfa2a7613","width":"12","height":1,"order":1,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"c01db1ef8820594c","type":"ui-group","name":"Conto Economico (CE) Riclassificato","page":"9736bce211ee82ac","width":"12","height":1,"order":2,"showTitle":true,"className":"text-h1 text--primary text-center","visible":"true","disabled":"false","groupType":"default"},{"id":"33eb3d193bdc9eff","type":"ui-group","name":"Stato Patrimoniale (SP)","page":"9736bce211ee82ac","width":"12","height":1,"order":3,"showTitle":true,"className":"text-h1 text--primary text-center","visible":"true","disabled":"false","groupType":"default"},{"id":"b1682ed38add189a","type":"ui-group","name":"Parcelle - Campi - Serre","page":"efd446cb659e9bc2","width":"12","height":1,"order":1,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"3d4e50c2c11618f6","type":"ui-group","name":"Gantt Trattamenti colturali","page":"efd446cb659e9bc2","width":"12","height":1,"order":2,"showTitle":false,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"97b61006fc991841","type":"ui-group","name":"Andamento precipitazioni/umidità","page":"08eaa7054e5d1756","width":"12","height":1,"order":2,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"0f439ac3b77c0bb0","type":"ui-group","name":"Irrigazione Campi","page":"ead66a445f48797f","width":6,"height":1,"order":2,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"66757de3e60d8d17","type":"ui-group","name":"Wind","page":"ead66a445f48797f","width":6,"height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"6f196d3b6b751c1e","type":"ui-group","name":"Irrigazione in serra","page":"52e7f7676b8bcc57","width":"6","height":1,"order":3,"showTitle":true,"className":"text-center","visible":"true","disabled":"false","groupType":"default"},{"id":"058e5b17bfdb7127","type":"ui-group","name":"Micro-clima Serra 1","page":"52e7f7676b8bcc57","width":6,"height":1,"order":1,"showTitle":true,"className":"text-center","visible":"true","disabled":"false","groupType":"default"},{"id":"b1db5b6ad9590f99","type":"ui-group","name":"Micro-clima Serra 2","page":"52e7f7676b8bcc57","width":6,"height":1,"order":2,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"adde8ab66c381507","type":"ui-group","name":"Coltivazione - Serre","page":"015801e603ac172e","width":"12","height":1,"order":2,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"d88756fa67f413ab","type":"ui-group","name":"Redditività del capitale (patrimoniale)","page":"9736bce211ee82ac","width":"12","height":1,"order":1,"showTitle":true,"className":"text-h1 text--primary text-center","visible":"true","disabled":"false","groupType":"default"},{"id":"2479cc565dbfa31c","type":"ui-template","z":"4c758bd648c6587f","d":true,"group":"","page":"","ui":"903ea6c5e35b6ed0","name":"Piè di pagina","order":0,"width":0,"height":0,"head":"","format":"<br/>\n\n<center>Ninja-d.js (an <i>iBizA Framework<sup>©</sup></i> companion)&nbsp;&nbsp;-&nbsp;&nbsp;Ants S.r.l. demo biz&nbsp;&nbsp;-&nbsp;&nbsp;Copyright Gian Luca Rivalta (CC-BY-SA-4.0)</center>\n\n<br/><br/>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:ui","className":"","x":510,"y":120,"wires":[[]]},{"id":"a5779ba375aaaeef","type":"ui-template","z":"4c758bd648c6587f","d":true,"group":"","page":"","ui":"903ea6c5e35b6ed0","name":"Header di pagina SX","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <Teleport v-if=\"mounted\" to=\"#app-bar-title\">\n        <v-btn>Button 1</v-btn>\n        <v-btn>Button 2</v-btn>\n    </Teleport>\n</template>\n<script>\n    export default {\n        data() {\n            return {\n                mounted: false\n            }\n        },\n        mounted() {\n            this.mounted = true\n        }\n    }\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:ui","className":"","x":540,"y":180,"wires":[[]]},{"id":"82d8299eec6fdd1a","type":"ui-template","z":"4c758bd648c6587f","d":true,"group":"","page":"","ui":"903ea6c5e35b6ed0","name":"Header di pagina DX","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <Teleport v-if=\"mounted\" to=\"#app-bar-actions\">\n        <!-- img height=\"32px\" src=\"static/Ants farm.jpg\"></img --> \n    <!-- div class=\"container\" -->\n    <!-- Nastro di Möbius -->\n    <!--  src=\"https://freesvg.org/img/lummie-Mobius-Strip.png\" alt=\"Mobius Strip\" class=\"mobius\" -->\n\n    <!-- Formiche in fila -->\n    <!-- img src=\"https://freesvg.org/img/1276548403.png\" alt=\"Formica\" class=\"ant\">\n    <img src=\"https://freesvg.org/img/1276548403.png\" alt=\"Formica\" class=\"ant\">\n    <img src=\"https://freesvg.org/img/1276548403.png\" alt=\"Formica\" class=\"ant\">\n    <img src=\"https://freesvg.org/img/1276548403.png\" alt=\"Formica\" class=\"ant\">\n    <img src=\"https://freesvg.org/img/1276548403.png\" alt=\"Formica\" class=\"ant\">\n  </div -->\n\n<h1>Ants S.r.l.</h1> (the AgriNice Talks)\n\n    </Teleport>\n</template>\n<script>\n    export default {\n        data() {\n            return {\n                mounted: false\n            }\n        },\n        mounted() {\n            this.mounted = true\n        }\n    }\n</script>\n\n\n<!-- style>\n  body {\n    margin: 0;\n    padding: 0;\n    background-color: #f0f0f0;\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    height: 100vh;\n  }\n\n  .container {\n    position: relative;\n    width: 250px;\n    height: 100px;\n  }\n\n  .mobius {\n    width: 100%;\n    height: 100%;\n    object-fit: contain;\n    display: block;\n  }\n\n  .ant {\n    position: absolute;\n    height: auto;\n    pointer-events: none;\n    transform: translate(-50%, -50%);\n    animation: walk 8s infinite linear;\n  }\n\n  @keyframes walk {\n    0%   { left: 30%; top: 50%; transform: translate(-50%, -50%) rotate(0deg); }\n    25%  { left: 50%; top: 55%; transform: translate(-50%, -50%) rotate(15deg); }\n    50%  { left: 70%; top: 50%; transform: translate(-50%, -50%) rotate(0deg); }\n    75%  { left: 50%; top: 45%; transform: translate(-50%, -50%) rotate(-15deg); }\n    100% { left: 30%; top: 50%; transform: translate(-50%, -50%) rotate(0deg); }\n  }\n\n  /* Formiche proporzionate all'altezza del container */\n  .ant1 { height: 20%; animation-delay: 0s; }\n  .ant2 { height: 22%; animation-delay: 1s; }\n  .ant3 { height: 25%; animation-delay: 2s; }\n  .ant4 { height: 28%; animation-delay: 3s; }\n  .ant5 { height: 30%; animation-delay: 4s; }\n</style -->","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:ui","className":"","x":540,"y":240,"wires":[[]]},{"id":"24a50cb994d489d1","type":"ui-template","z":"b8a32b522f9c2deb","g":"751e8bbad7e929a7","group":"","page":"","ui":"903ea6c5e35b6ed0","name":"Avoid \"App is offline ready\" in Chromium","order":0,"width":0,"height":0,"head":"","format":"/* https://raspberrypi.stackexchange.com/questions/151055/app-is-offline-ready-in-chromium */\n\n.pwa-toast {\n  display: none !important;\n}","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"site:style","className":"","x":260,"y":120,"wires":[[]]},{"id":"15d11f5adf3230ff","type":"comment","z":"b8a32b522f9c2deb","g":"751e8bbad7e929a7","name":"","info":"","x":140,"y":180,"wires":[]},{"id":"26184e27cd240f69","type":"ui-template","z":"b8a32b522f9c2deb","group":"","page":"","ui":"903ea6c5e35b6ed0","name":"Importazione CDN di Echart.js + i18n/langIT","order":1,"width":0,"height":0,"head":"","format":"<!-- script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script -->\n\n<script type=\"text/javascript\" src=\"https://fastly.jsdelivr.net/npm/echarts@6.0.0/dist/echarts.min.js\"></script>\n\n<script type=\"text/javascript\" src=\"https://fastly.jsdelivr.net/npm/echarts@6.0.0/i18n/langIT.js\"></script>\n\n<script>\n    setTimeout(() => {\n        if (window.echarts) {\n            console.log(\"Echarts v6.0.0 e Locale italiano sono stati caricati globalmente.\");\n        } else {\n            console.error(\"Libreria Echarts v6.0.0 non disponibile.\");\n        }\n    }, 500);\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:ui","className":"","x":250,"y":280,"wires":[[]]},{"id":"3e69fc73f6462883","type":"ui-template","z":"b8a32b522f9c2deb","group":"","page":"","ui":"903ea6c5e35b6ed0","name":"Piè di pagina","order":0,"width":0,"height":0,"head":"","format":"<br/>\n\n<center>Ninja-d.js (an <i>iBizA Framework<sup>©</sup></i> companion)&nbsp;&nbsp;-&nbsp;&nbsp;Ants S.r.l. demo\n    biz&nbsp;&nbsp;-&nbsp;&nbsp;Copyright Gian Luca Rivalta (CC-BY-SA-4.0) &nbsp;&nbsp;&nbsp;&nbsp;\n    <a aria-label=\"GitHub Profile\" href=\"https://github.com/grivalta\">\n        <svg height=\"20\" viewBox=\"0 0 24 24\" width=\"20\">\n            <path\n                d=\"M12 1C5.923 1 1 5.923 1 12c0 4.867 3.149 8.979 7.521 10.436.55.096.756-.233.756-.522 0-.262-.013-1.128-.013-2.049-2.764.509-3.479-.674-3.699-1.292-.124-.317-.66-1.293-1.127-1.554-.385-.207-.936-.715-.014-.729.866-.014 1.485.797 1.691 1.128.99 1.663 2.571 1.196 3.204.907.096-.715.385-1.196.701-1.471-2.448-.275-5.005-1.224-5.005-5.432 0-1.196.426-2.186 1.128-2.956-.111-.275-.496-1.402.11-2.915 0 0 .921-.288 3.024 1.128a10.193 10.193 0 0 1 2.75-.371c.936 0 1.871.123 2.75.371 2.104-1.43 3.025-1.128 3.025-1.128.605 1.513.221 2.64.111 2.915.701.77 1.127 1.747 1.127 2.956 0 4.222-2.571 5.157-5.019 5.432.399.344.743 1.004.743 2.035 0 1.471-.014 2.654-.014 3.025 0 .289.206.632.756.522C19.851 20.979 23 16.854 23 12c0-6.077-4.922-11-11-11Z\">\n            </path>\n        </svg>\n    </a>\n    <a aria-label=\"LinkedIn Profile\" href=\"https://www.linkedin.com/in/rivalta/\">\n        <svg height=\"24\" viewBox=\"0 0 24 24\" width=\"32\">\n            <path\n                d=\"M12.9248 25.9999H16.9708V18.5184C16.9546 18.1702 17.0015 17.8219 17.1094 17.4904C17.2671 17.0423 17.5593 16.6538 17.9462 16.378C18.3331 16.1023 18.7957 15.9528 19.2708 15.9499C21.0899 15.9499 21.7257 17.1121 21.7257 18.8159V25.9999H25.8057V18.329C25.8057 14.4362 24.6202 12.3468 20.9557 12.3468C20.1206 12.2924 19.2889 12.4943 18.5717 12.9256C17.8546 13.3568 17.2862 13.9968 16.9428 14.7599H16.9709V12.6248H12.9249C12.9802 13.8141 12.9249 25.9999 12.9249 25.9999H12.9248Z\"\n                fill=\"currentColor\"></path>\n            <path d=\"M10.26 12.6201H6.10999V26H10.26V12.6201Z\" fill=\"currentColor\"></path>\n            <path fill-rule=\"evenodd\" clip-rule=\"evenodd\"\n                d=\"M5.79999 8.41C5.79999 7.93335 5.94133 7.4674 6.20615 7.07108C6.47096 6.67475 6.84735 6.36586 7.28772 6.18345C7.72809 6.00104 8.21266 5.95332 8.68016 6.04631C9.14765 6.1393 9.57707 6.36883 9.91411 6.70587C10.2512 7.04292 10.4807 7.47234 10.5737 7.93983C10.6667 8.40733 10.6189 8.8919 10.4365 9.33227C10.2541 9.77264 9.94523 10.149 9.54891 10.4138C9.15259 10.6787 8.68664 10.82 8.20999 10.82C7.57093 10.8196 6.95815 10.5656 6.50627 10.1137C6.05439 9.66184 5.80036 9.04906 5.79999 8.41Z\"\n                fill=\"currentColor\"></path>\n        </svg>\n    </a>\n</center>\n\n<br/><br/>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:ui","className":"","x":610,"y":120,"wires":[[]]},{"id":"8805f97f360795f6","type":"ui-template","z":"b8a32b522f9c2deb","group":"","page":"","ui":"903ea6c5e35b6ed0","name":"Header di pagina DX","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <Teleport v-if=\"mounted\" to=\"#app-bar-actions\">\n        <!-- img height=\"32px\" src=\"static/Ants farm.jpg\"></img --> \n    <!-- div class=\"container\" -->\n    <!-- Nastro di Möbius -->\n    <!--  src=\"https://freesvg.org/img/lummie-Mobius-Strip.png\" alt=\"Mobius Strip\" class=\"mobius\" -->\n\n    <!-- Formiche in fila -->\n    <!-- img src=\"https://freesvg.org/img/1276548403.png\" alt=\"Formica\" class=\"ant\">\n    <img src=\"https://freesvg.org/img/1276548403.png\" alt=\"Formica\" class=\"ant\">\n    <img src=\"https://freesvg.org/img/1276548403.png\" alt=\"Formica\" class=\"ant\">\n    <img src=\"https://freesvg.org/img/1276548403.png\" alt=\"Formica\" class=\"ant\">\n    <img src=\"https://freesvg.org/img/1276548403.png\" alt=\"Formica\" class=\"ant\">\n  </div -->\n\n<h1>Ants S.r.l.</h1> (the AgriNice Talks)\n\n    </Teleport>\n</template>\n<script>\n    export default {\n        data() {\n            return {\n                mounted: false\n            }\n        },\n        mounted() {\n            this.mounted = true\n        }\n    }\n</script>\n\n\n<!-- style>\n  body {\n    margin: 0;\n    padding: 0;\n    background-color: #f0f0f0;\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    height: 100vh;\n  }\n\n  .container {\n    position: relative;\n    width: 250px;\n    height: 100px;\n  }\n\n  .mobius {\n    width: 100%;\n    height: 100%;\n    object-fit: contain;\n    display: block;\n  }\n\n  .ant {\n    position: absolute;\n    height: auto;\n    pointer-events: none;\n    transform: translate(-50%, -50%);\n    animation: walk 8s infinite linear;\n  }\n\n  @keyframes walk {\n    0%   { left: 30%; top: 50%; transform: translate(-50%, -50%) rotate(0deg); }\n    25%  { left: 50%; top: 55%; transform: translate(-50%, -50%) rotate(15deg); }\n    50%  { left: 70%; top: 50%; transform: translate(-50%, -50%) rotate(0deg); }\n    75%  { left: 50%; top: 45%; transform: translate(-50%, -50%) rotate(-15deg); }\n    100% { left: 30%; top: 50%; transform: translate(-50%, -50%) rotate(0deg); }\n  }\n\n  /* Formiche proporzionate all'altezza del container */\n  .ant1 { height: 20%; animation-delay: 0s; }\n  .ant2 { height: 22%; animation-delay: 1s; }\n  .ant3 { height: 25%; animation-delay: 2s; }\n  .ant4 { height: 28%; animation-delay: 3s; }\n  .ant5 { height: 30%; animation-delay: 4s; }\n</style -->","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:ui","className":"","x":640,"y":180,"wires":[[]]},{"id":"1f6b42505514b9c2","type":"ui-markdown","z":"bd599afef1e5335e","group":"f8f4ce4ecccce8c4","name":"Dati aziendali (header)","order":1,"width":"4","height":"7","content":"# **Ants S.r.l.**\n\n## Azienda agricola multifunzionale\n\n\n - **Ragione Sociale**: Ants S.r.l.\n - **Partita IVA**: IT12345678987\n - **Cod. Fiscale**: 12345678987\n - **Forma Giuridica**: S.r.l.","className":"","x":260,"y":80,"wires":[[]]},{"id":"692af95a7e5eb89f","type":"ui-template","z":"f7e1750bc277387a","group":"f6269c66500dfd6d","page":"","ui":"","name":"Produzione cereali EU","order":1,"width":"6","height":"12","head":"","format":"<!-- template -->\n  <h3 class=\"text-h5 text--primary text-center\">Produzione Cereali EU</h3>\n  <div id=\"chart01\" style=\"width: 700px; height: 600px\"></div>\n\n<!-- /template -->\n\n\n<script>\n\n    var dom = document.getElementById('chart01');\n    var myChart = echarts.init(dom, null, {\n      renderer: 'canvas',  // Il rendering engine \"canvas\" è indicato per grafici complessi o maggiore reattività, mentre SVG richiede meno memoria (p. es. mobile); Rif.: https://apache.github.io/echarts-handbook/en/best-practices/canvas-vs-svg/\n                locale: 'it' // Il locale italiano della libreria Echarts è registrato globalmente dal nodo di importazione librerie con scope applicativo\n    });\n    var app = {};\n    \n    var option;\n\n    option = {\n  \n      toolbox: {\n      show: true,\n      feature: {\n      restore: {},\n      saveAsImage: {},\n      dataView: {},\n      dataZoom: {},\n      magicType: {\n      type: ['line', 'bar', 'stack']\n      },\n      },\n      },\n  \n  tooltip: {\n    trigger: 'axis',\n    axisPointer: {\n      type: 'shadow'\n    }\n  },\n  legend: {},\n  yAxis: {\n    type: 'value',\n    axisLabel: {\n    formatter: '{value}€'\n    }\n  },\n  xAxis: {\n    type: 'category',\n    data: ['2019', '2020', '2021', '2022', '2023e', '2024f', '2025p']\n  },\n  series: [\n    {\n      name: 'Avena',\n      type: 'bar',\n      stack: 'total',\n      label: {\n        show: false\n      },\n      emphasis: {\n        focus: 'series'\n      },\n      data: [6944, 8494, 7481, 7441, 5895, 7747, 8977]\n    },\n    {\n      name: 'Grano duro',\n      type: 'bar',\n      stack: 'total',\n      label: {\n        show: false\n      },\n      emphasis: {\n        focus: 'series'\n      },\n      data: [7475, 7422, 8164, 7543, 7491, 7367, 8344]\n    },\n    {\n      name: 'Grano tenero',\n      type: 'bar',\n      stack: 'total',\n      label: {\n        show: false\n      },\n      emphasis: {\n        focus: 'series'\n      },\n      data: [132156, 119027, 130023, 126802, 126168, 111814, 134408]\n    },\n    {\n      name: 'Mais',\n      type: 'bar',\n      stack: 'total',\n      label: {\n        show: false\n      },\n      emphasis: {\n        focus: 'series'\n      },\n      data: [70416, 67717, 73501, 53339, 61483, 59567, 57007]\n    },\n    {\n      name: 'Orzo',\n      type: 'bar',\n      stack: 'total',\n      label: {\n        show: false\n      },\n      emphasis: {\n        focus: 'series'\n      },\n      data: [55513, 54399, 51883, 51858, 47450, 49012, 56412]\n    },\n    {\n      name: 'Segale',\n      type: 'bar',\n      stack: 'total',\n      label: {\n        show: false\n      },\n      emphasis: {\n        focus: 'series'\n      },\n      data: [8455, 8936, 7948, 7449, 7551, 7080, 7593]\n    },\n    {\n      name: 'Sorgo',\n      type: 'bar',\n      stack: 'total',\n      label: {\n        show: false\n      },\n      emphasis: {\n        focus: 'series'\n      },\n      data: [1015, 1029, 814, 530, 828, 1003, 898]\n    },\n    {\n      name: 'Triticale',\n      type: 'bar',\n      stack: 'total',\n      label: {\n        show: false\n      },\n      emphasis: {\n        focus: 'series'\n      },\n      data: [11203, 12347, 11675, 11365, 10969, 9963, 11761]\n    },\n    {\n      name: 'Altri cereali',\n      type: 'bar',\n      stack: 'total',\n      label: {\n        show: false\n      },\n      emphasis: {\n        focus: 'series'\n      },\n      data: [3908, 3652, 3835, 2738, 2327, 2216, 2847]\n    },\n\n\n    {\n    name: 'Totale',\n    type: 'line',\n    data: [297089, 283027, 295329, 269070, 270167, 255773, 288252],\n    //data: [{ type: 'average', name: 'Avg' }],\n    markPoint: {\n    data: [\n    { type: 'max', name: 'Max' },\n    { type: 'min', name: 'Min' }\n    ]\n    },\n    markLine: {\n    data: [{ type: 'average', name: 'Avg' }]\n    }\n    }\n\n\n  ]\n};\n\n    if (option && typeof option === 'object') {\n      myChart.setOption(option);\n    }\n\n    window.addEventListener('resize', myChart.resize);\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":220,"y":160,"wires":[[]]},{"id":"e91b073b88c1feb0","type":"ui-template","z":"f7e1750bc277387a","group":"f6269c66500dfd6d","page":"","ui":"","name":"Produzione cereali ITA","order":2,"width":"6","height":"12","head":"","format":"<!-- template -->\n  <h3 class=\"text-h5 text--primary text-center\">Produzione Cereali ITA</h3>\n  <div id=\"chart02\" style=\"width: 700px; height: 600px\"></div>\n<!-- /template -->\n\n\n<script>\n\n    var dom = document.getElementById('chart02');\n    var myChart = echarts.init(dom, null, {\n      renderer: 'canvas',  // Il rendering engine \"canvas\" è indicato per grafici complessi o maggiore reattività, mentre SVG richiede meno memoria (p. es. mobile); Rif.: https://apache.github.io/echarts-handbook/en/best-practices/canvas-vs-svg/\n                locale: 'it' // Il locale italiano della libreria Echarts è registrato globalmente dal nodo di importazione librerie con scope applicativo\n    });\n    var app = {};\n    \n    var option;\n\n    option = {\n  \n      toolbox: {\n      show: true,\n      feature: {\n      restore: {},\n      saveAsImage: {},\n      dataView: {},\n      dataZoom: {},\n      magicType: {\n      type: ['line', 'bar', 'stack']\n      },\n      },\n      },\n  \n  tooltip: {\n    trigger: 'axis',\n    axisPointer: {\n      type: 'shadow'\n    }\n  },\n  legend: {},\n\n\n  yAxis: [\n    {\n    type: 'value',\n    name: 'ITA',axisLabel: {\n    formatter: '{value}€'\n    }\n    },\n    {\n    type: 'value',\n    name: 'EU',\n    axisLabel: {\n    formatter: '{value}€'\n    }\n    }\n  ],\n  \n  xAxis: {\n    type: 'category',\n    data: ['2019', '2020', '2021', '2022', '2023e', '2024f', '2025p']\n  },\n  series: [\n    {\n      name: 'Avena',\n      type: 'bar',\n      stack: 'total',\n      label: {\n        show: false\n      },\n      emphasis: {\n        focus: 'series'\n      },\n      data: [238, 243, 233, 242, 226, 207, 230]\n    },\n    {\n      name: 'Grano duro',\n      type: 'bar',\n      stack: 'total',\n      label: {\n        show: false\n      },\n      emphasis: {\n        focus: 'series'\n      },\n      data: [3849, 3885, 4065, 3690, 3688, 3500, 3799]\n    },\n    {\n      name: 'Grano tenero',\n      type: 'bar',\n      stack: 'total',\n      label: {\n        show: false\n      },\n      emphasis: {\n        focus: 'series'\n      },\n      data: [2727, 2669, 3053, 2760, 3040, 2563, 2585]\n    },\n    {\n      name: 'Mais',\n      type: 'bar',\n      stack: 'total',\n      label: {\n        show: false\n      },\n      emphasis: {\n        focus: 'series'\n      },\n      data: [6259, 6771, 6060, 4682, 5331, 4925, 5289]\n    },\n    {\n      name: 'Orzo',\n      type: 'bar',\n      stack: 'total',\n      label: {\n        show: false\n      },\n      emphasis: {\n        focus: 'series'\n      },\n      data: [1072, 1091, 1060, 1124, 1159, 892, 923]\n    },\n    {\n      name: 'Segale',\n      type: 'bar',\n      stack: 'total',\n      label: {\n        show: false\n      },\n      emphasis: {\n        focus: 'series'\n      },\n      data: [13, 11, 11, 10, 11, 12, 11]\n    },\n    {\n      name: 'Sorgo',\n      type: 'bar',\n      stack: 'total',\n      label: {\n        show: false\n      },\n      emphasis: {\n        focus: 'series'\n      },\n      data: [312, 362, 223, 191, 239, 248, 260]\n    },\n    {\n      name: 'Triticale',\n      type: 'bar',\n      stack: 'total',\n      label: {\n        show: false\n      },\n      emphasis: {\n        focus: 'series'\n      },\n      data: [59, 59, 62, 63, 74, 66, 62]\n    },\n    {\n      name: 'Altri cereali',\n      type: 'bar',\n      stack: 'total',\n      label: {\n        show: false\n      },\n      emphasis: {\n        focus: 'series'\n      },\n      data: [103, 107, 94, 74, 69, 66, 79]\n    },\n\n\n    {\n    name: 'Totale ITA',\n    type: 'line',\n    data: [14633, 15197, 14862, 12837, 13837, 12476, 13238],\n    markPoint: {\n    data: [\n    { type: 'max', name: 'Max' },\n    { type: 'min', name: 'Min' }\n    ]\n    },\n    markLine: {\n    data: [{ type: 'average', name: 'Avg' }]\n    }\n    },\n    \n    \n    {\n    name: 'Totale EU',\n    type: 'line',\n    \n    yAxisIndex: 1,\n\n    data: [297089, 283027, 295329, 269070, 270167, 255773, 288252],\n    \n    }\n\n\n  ]\n};\n\n    if (option && typeof option === 'object') {\n      myChart.setOption(option);\n    }\n\n    window.addEventListener('resize', myChart.resize);\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":220,"y":220,"wires":[[]]},{"id":"a04273f850c692cd","type":"ui-template","z":"f7e1750bc277387a","group":"","page":"343a90f05a800fbf","ui":"","name":"Importazione CDN di Echart.js + i18n/langIT","order":1,"width":0,"height":0,"head":"","format":"<!-- script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script -->\n\n<script type=\"text/javascript\" src=\"https://fastly.jsdelivr.net/npm/echarts@6.0.0/dist/echarts.min.js\"></script>\n\n<script type=\"text/javascript\" src=\"https://fastly.jsdelivr.net/npm/echarts@6.0.0/i18n/langIT.js\"></script>\n\n<script>\n    setTimeout(() => {\n        if (window.echarts) {\n            console.log(\"Echarts e Locale italiano caricati globalmente\");\n        } else {\n            console.error(\"Echarts non disponibile\");\n        }\n    }, 500);\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":290,"y":80,"wires":[[]]},{"id":"10ff49a2679ead1c","type":"comment","z":"e0e9613a06881657","name":"Amministrazione & Finanza","info":"","x":130,"y":40,"wires":[]},{"id":"7e76664cce298b1e","type":"comment","z":"e0e9613a06881657","g":"3331b4057f65e12d","name":"Conto Economico (CE)","info":"","x":520,"y":480,"wires":[]},{"id":"b88d78cf1f766f19","type":"ui-template","z":"e0e9613a06881657","g":"3331b4057f65e12d","group":"c01db1ef8820594c","page":"","ui":"","name":"Prod. Lorda Vendibile (PLV)","order":1,"width":"3","height":"3","head":"","format":"<template>\n  <v-card class=\"mx-auto\" width=\"75%\" color=\"#a9efe0\">\n\n    <v-card-text>\n      <p class=\"text-h6 text--primary\">\n        Prod. Lorda Ven. (PLV)\n      </p>\n      <p class=\"text-h5 text--primary text-center\">\n        {{ valore }}k€\n      </p>\n      <div class=\"text--primary\">\n        \n      </div>\n    </v-card-text>\n    <v-card-actions>\n      <v-btn text color=\"teal accent-4\" @click=\"reveal = true\">\n        Obi: {{ obiettivo }}k€: Vis. Progresso\n      </v-btn>\n    </v-card-actions>\n\n    <v-expand-transition>\n      <v-card v-if=\"reveal\" class=\"v-card--reveal\"\n        style=\"height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 10;\">\n\n        <v-card-text class=\"flex-grow-1 d-flex flex-column justify-center align-center\">\n          <v-progress-circular :rotate=\"-90\" :size=\"95\" :width=\"15\" :model-value=\"progresso\" :color=\"getProgressoColor\">\n            {{ progresso }}%\n          </v-progress-circular>\n\n          <!-- div class=\"text-caption mt-2 text-grey\">Target: {{ obiettivo }}%</div -->\n\n          <v-card-actions class=\"justify-center w-100\">\n            <v-btn text color=\"teal\" @click=\"reveal = false\"><span class=\"text-grey\">Target: {{ obiettivo }}k€ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Chiudi</v-btn>\n          </v-card-actions>\n\n        </v-card-text>\n\n        <!-- v-card-actions class=\"justify-start w-100\">\n          <v-btn text color=\"teal\" @click=\"reveal = false\">Close</v-btn>\n        </v-card-actions -->\n      </v-card>\n    </v-expand-transition>\n\n  </v-card>\n</template>\n\n<script>\nexport default {\n    data: () => ({\n        reveal: false,\n        valore: 0,\n        obiettivo: 0,\n        progresso: 0,\n        label_formula: \"Caricamento...\",\n    }),\n\t\n\tcomputed: {\n    getProgressoColor() {\n      if (this.progresso < 50) return 'orange-darken-1';\n      if (this.progresso < 90) return 'blue-darken-1';\n      return 'green-darken-2';\n    }\n\t},\n\t\n    watch: {\n        msg: function (newMsg) {\n            if (!newMsg || newMsg.topic !== \"PLV\") return; \n\n            this.valore = newMsg.payload.valore || 0;\n            this.obiettivo = newMsg.payload.obi || 0;\n            this.label_formula = newMsg.payload.label || \"PLV\";\n\n            if (this.obiettivo !== 0) {\n                this.progresso = Math.min(Math.round((this.valore / this.obiettivo) * 100), 100);\n            } else {\n                this.progresso = 0;\n            }\n        }\n    }\n}\n</script>\n\n<style scoped>\n  .v-card--reveal {\n    align-items: center;\n    bottom: 0;\n    justify-content: center;\n    opacity: 1 !important;\n    position: absolute;\n    width: 100%;\n    border-top: 2px solid #009688;\n  }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":240,"y":540,"wires":[[]]},{"id":"063ea5ffdabc83f2","type":"ui-template","z":"e0e9613a06881657","g":"3331b4057f65e12d","group":"c01db1ef8820594c","page":"","ui":"","name":"Costi correnti (CC)","order":2,"width":"3","height":"3","head":"","format":"<template>\n  <v-card class=\"mx-auto\" width=\"75%\" color=\"#a9efe0\">\n\n    <v-card-text>\n      <p class=\"text-h6 text--primary\">\n        Costi correnti (CC)\n      </p>\n      <p class=\"text-h5 text--primary text-center\">\n        {{ valore }}k€\n      </p>\n      <div class=\"text--primary\">\n        \n      </div>\n    </v-card-text>\n    <v-card-actions>\n      <v-btn text color=\"teal accent-4\" @click=\"reveal = true\">\n        Obi: {{ obiettivo }}k€: Vis. Progresso\n      </v-btn>\n    </v-card-actions>\n\n    <v-expand-transition>\n      <v-card v-if=\"reveal\" class=\"v-card--reveal\"\n        style=\"height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 10;\">\n\n        <v-card-text class=\"flex-grow-1 d-flex flex-column justify-center align-center\">\n          <v-progress-circular :rotate=\"-90\" :size=\"95\" :width=\"15\" :model-value=\"progresso\" :color=\"getProgressoColor\">\n            {{ progresso }}%\n          </v-progress-circular>\n\n          <!-- div class=\"text-caption mt-2 text-grey\">Target: {{ obiettivo }}%</div -->\n\n          <v-card-actions class=\"justify-center w-100\">\n            <v-btn text color=\"teal\" @click=\"reveal = false\"><span class=\"text-grey\">Target: {{ obiettivo }}k€ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Chiudi</v-btn>\n          </v-card-actions>\n\n        </v-card-text>\n\n        <!-- v-card-actions class=\"justify-start w-100\">\n          <v-btn text color=\"teal\" @click=\"reveal = false\">Close</v-btn>\n        </v-card-actions -->\n      </v-card>\n    </v-expand-transition>\n\n  </v-card>\n</template>\n\n<script>\nexport default {\n    data: () => ({\n        reveal: false,\n        valore: 0,\n        obiettivo: 0,\n        progresso: 0,\n        label_formula: \"Caricamento...\",\n    }),\n\t\n\tcomputed: {\n    getProgressoColor() {\n      if (this.progresso < 50) return 'orange-darken-1';\n      if (this.progresso < 90) return 'blue-darken-1';\n      return 'green-darken-2';\n    }\n\t},\n\t\n    watch: {\n        msg: function (newMsg) {\n            if (!newMsg || newMsg.topic !== \"CC\") return; \n            this.valore = newMsg.payload.valore || 0;\n            this.obiettivo = newMsg.payload.obi || 0;\n            this.label_formula = newMsg.payload.label || \"CC\";\n\n            if (this.obiettivo !== 0) {\n                this.progresso = Math.min(Math.round((this.valore / this.obiettivo) * 100), 100);\n            } else {\n                this.progresso = 0;\n            }\n        }\n    }\n}\n</script>\n\n<style scoped>\n  .v-card--reveal {\n    align-items: center;\n    bottom: 0;\n    justify-content: center;\n    opacity: 1 !important;\n    position: absolute;\n    width: 100%;\n    border-top: 2px solid #009688;\n  }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":210,"y":580,"wires":[[]]},{"id":"d121fb13e732cbd8","type":"ui-template","z":"e0e9613a06881657","g":"3331b4057f65e12d","group":"c01db1ef8820594c","page":"","ui":"","name":"Valore Aggiunto (VA)","order":3,"width":"3","height":"3","head":"","format":"<template>\n  <v-card class=\"mx-auto\" width=\"75%\" color=\"#a9efe0\">\n\n    <v-card-text>\n      <p class=\"text-h6 text--primary\">\n        Valore Aggiunto (VA)\n      </p>\n      <p class=\"text-h5 text--primary text-center\">\n        {{ valore }}k€\n      </p>\n      <div class=\"text--primary\">\n\n      </div>\n    </v-card-text>\n    <v-card-actions>\n      <v-btn text color=\"teal accent-4\" @click=\"reveal = true\">\n        Obi: {{ obiettivo }}k€: Vis. Progresso\n      </v-btn>\n    </v-card-actions>\n\n    <v-expand-transition>\n      <v-card v-if=\"reveal\" class=\"v-card--reveal\"\n        style=\"height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 10;\">\n\n        <v-card-text class=\"flex-grow-1 d-flex flex-column justify-center align-center\">\n          <v-progress-circular :rotate=\"-90\" :size=\"95\" :width=\"15\" :model-value=\"progresso\" :color=\"getProgressoColor\">\n            {{ progresso }}%\n          </v-progress-circular>\n\n          <!-- div class=\"text-caption mt-2 text-grey\">Target: {{ obiettivo }}%</div -->\n\n          <v-card-actions class=\"justify-center w-100\">\n            <v-btn text color=\"teal\"\n              @click=\"reveal = false\"><span class=\"text-grey\">Target: {{ obiettivo }}k€ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Chiudi</v-btn>\n          </v-card-actions>\n\n        </v-card-text>\n\n        <!-- v-card-actions class=\"justify-start w-100\">\n          <v-btn text color=\"teal\" @click=\"reveal = false\">Close</v-btn>\n        </v-card-actions -->\n      </v-card>\n    </v-expand-transition>\n\n  </v-card>\n</template>\n\n<script>\n  export default {\n    data: () => ({\n        reveal: false,\n        valore: 0,\n        obiettivo: 0,\n        progresso: 0,\n        label_formula: \"Caricamento...\",\n    }),\n\t\n\tcomputed: {\n    getProgressoColor() {\n      if (this.progresso < 50) return 'orange-darken-1';\n      if (this.progresso < 90) return 'blue-darken-1';\n      return 'green-darken-2';\n    }\n\t},\n\t\n    watch: {\n        msg: function (newMsg) {\n            if (!newMsg || newMsg.topic !== \"VA\") return; \n            this.valore = newMsg.payload.valore || 0;\n            this.obiettivo = newMsg.payload.obi || 0;\n            this.label_formula = newMsg.payload.label || \"VA\";\n\n            if (this.obiettivo !== 0) {\n                this.progresso = Math.min(Math.round((this.valore / this.obiettivo) * 100), 100);\n            } else {\n                this.progresso = 0;\n            }\n        }\n    }\n}\n</script>\n\n<style scoped>\n  .v-card--reveal {\n    align-items: center;\n    bottom: 0;\n    justify-content: center;\n    opacity: 1 !important;\n    position: absolute;\n    width: 100%;\n    border-top: 2px solid #009688;\n  }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":220,"y":620,"wires":[[]]},{"id":"78bd10568bc00676","type":"ui-template","z":"e0e9613a06881657","g":"3331b4057f65e12d","group":"c01db1ef8820594c","page":"","ui":"","name":"Reddito Netto (RN)","order":4,"width":"3","height":"3","head":"","format":"<template>\n  <v-card class=\"mx-auto\" width=\"75%\" color=\"#a9efe0\">\n\n    <v-card-text>\n      <p class=\"text-h6 text--primary\">\n        Reddito Netto (RN)\n      </p>\n      <p class=\"text-h5 text--primary text-center\">\n        {{ valore }}k€\n      </p>\n      <div class=\"text--primary\">\n        \n      </div>\n    </v-card-text>\n    <v-card-actions>\n      <v-btn text color=\"teal accent-4\" @click=\"reveal = true\">\n        Obi: {{ obiettivo }}k€: Vis. Progresso\n      </v-btn>\n    </v-card-actions>\n\n    <v-expand-transition>\n      <v-card v-if=\"reveal\" class=\"v-card--reveal\"\n        style=\"height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 10;\">\n\n        <v-card-text class=\"flex-grow-1 d-flex flex-column justify-center align-center\">\n          <v-progress-circular :rotate=\"-90\" :size=\"95\" :width=\"15\" :model-value=\"progresso\" :color=\"getProgressoColor\">\n            {{ progresso }}%\n          </v-progress-circular>\n\n          <!-- div class=\"text-caption mt-2 text-grey\">Target: {{ obiettivo }}%</div -->\n\n          <v-card-actions class=\"justify-center w-100\">\n            <v-btn text color=\"teal\" @click=\"reveal = false\"><span class=\"text-grey\">Target: {{ obiettivo }}k€ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Chiudi</v-btn>\n          </v-card-actions>\n\n        </v-card-text>\n\n        <!-- v-card-actions class=\"justify-start w-100\">\n          <v-btn text color=\"teal\" @click=\"reveal = false\">Close</v-btn>\n        </v-card-actions -->\n      </v-card>\n    </v-expand-transition>\n\n  </v-card>\n</template>\n\n<script>\nexport default {\n    data: () => ({\n        reveal: false,\n        valore: 0,\n        obiettivo: 0,\n        progresso: 0,\n        label_formula: \"Caricamento...\",\n    }),\n\t\n\tcomputed: {\n    getProgressoColor() {\n      if (this.progresso < 50) return 'orange-darken-1';\n      if (this.progresso < 90) return 'blue-darken-1';\n      return 'green-darken-2';\n    }\n\t},\n\t\n    watch: {\n        msg: function (newMsg) {\n            if (!newMsg || newMsg.topic !== \"RN\") return; \n            this.valore = newMsg.payload.valore || 0;\n            this.obiettivo = newMsg.payload.obi || 0;\n            this.label_formula = newMsg.payload.label || \"RN\";\n\n            if (this.obiettivo !== 0) {\n                this.progresso = Math.min(Math.round((this.valore / this.obiettivo) * 100), 100);\n            } else {\n                this.progresso = 0;\n            }\n        }\n    }\n}\n</script>\n\n<style scoped>\n  .v-card--reveal {\n    align-items: center;\n    bottom: 0;\n    justify-content: center;\n    opacity: 1 !important;\n    position: absolute;\n    width: 100%;\n    border-top: 2px solid #009688;\n  }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":210,"y":660,"wires":[[]]},{"id":"cf63ac56e0674637","type":"comment","z":"e0e9613a06881657","g":"3e140818f1a7d9b3","name":"Stato Patrimoniale (SP)","info":"","x":220,"y":760,"wires":[]},{"id":"2389c8427df1a8d7","type":"ui-template","z":"e0e9613a06881657","g":"3e140818f1a7d9b3","group":"33eb3d193bdc9eff","page":"","ui":"","name":"Capitale Fisso","order":1,"width":"3","height":"3","head":"","format":"<template>\n  <v-card\n    class=\"mx-auto\"\n    width=\"75%\"\n    color=\"#a9daef\">\n\n    <v-card-text>\n      <p class=\"text-h6 text--primary\">\n        Capitale Fisso\n      </p>\n      <p class=\"text-h5 text--primary text-center\">\n        €736k\n      </p>\n      <div class=\"text--primary\">\n        Cap. fondiario + Cap. agrario fisso\n      </div>\n    </v-card-text>\n\n    <v-card-actions>\n      <v-btn\n        text\n        color=\"teal accent-4\"\n        @click=\"reveal = true\"\n      >\n        Vis. trend\n      </v-btn>\n    </v-card-actions>\n\n    <v-expand-transition>\n      <v-card\n        v-if=\"reveal\"\n        class=\"transition-fast-in-fast-out v-card--reveal\"\n        style=\"height: 100%;\"\n      >\n\n\n\t<v-sparkline class=\"nrdb-ui-sparkline\" :auto-line-width=\"false\" :fill=\"false\"\n\t\t:gradient=\"gradient\"\n\t\t:gradient-direction=\"'top'\" :line-width=\"3\" :model-value=\"value2\" :padding=\"8\"\n\t\t:smooth=\"10\" :stroke-linecap=\"'round'\" :type=\"'trend'\" auto-draw>\n\t</v-sparkline>\n\n        \n\n        <v-card-text class=\"pb-0\">\n          <p class=\"text-h5 text--primary\">\n            Trend storico\n          </p>\n          \n        </v-card-text>\n        <v-card-actions class=\"pt-0\">\n          <v-btn\n            text\n            color=\"teal accent-4\"\n            @click=\"reveal = false\"\n          >\n            Close\n          </v-btn>\n        </v-card-actions>\n      </v-card>\n    </v-expand-transition>\n\n\n  </v-card>\n</template>\n\n<script>\n  export default {\n    data: function () {\n      return {\n        gradient: ['#f72047', '#ffd200', '#1feaea'],\n        value2: [0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0],\n\n        reveal: false,\n\n      }\n    }\n  }\n</script>\n\n<style>\n  .v-sheet--offset {\n    /*top: -24px;*/\n    position: relative;\n  }\n  .nrdb-ui-sparkline path {\n    stroke-dasharray: 0 !important;\n  }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":220,"y":820,"wires":[[]]},{"id":"ad169ad42194a92f","type":"ui-template","z":"e0e9613a06881657","g":"3e140818f1a7d9b3","group":"33eb3d193bdc9eff","page":"","ui":"","name":"Capitale Circolante","order":2,"width":"3","height":"3","head":"","format":"<template>\n  <v-card\n    class=\"mx-auto\"\n    width=\"75%\"\n    color=\"#a9daef\">\n\n    <v-card-text>\n      <p class=\"text-h6 text--primary\">\n        Capitale Circolante\n      </p>\n      <p class=\"text-h5 text--primary text-center\">\n        €2.800k\n      </p>\n      <div class=\"text--primary\">\n        Cap. Agrario Circ. + Liq.tà diverse\n      </div>\n    </v-card-text>\n\n    <v-card-actions>\n      <v-btn\n        text\n        color=\"teal accent-4\"\n        @click=\"reveal = true\"\n      >\n        Vis. trend\n      </v-btn>\n    </v-card-actions>\n\n    <v-expand-transition>\n      <v-card\n        v-if=\"reveal\"\n        class=\"transition-fast-in-fast-out v-card--reveal\"\n        style=\"height: 100%;\"\n      >\n\n\n\t<v-sparkline class=\"nrdb-ui-sparkline\" :auto-line-width=\"false\" :fill=\"false\"\n\t\t:gradient=\"gradient\"\n\t\t:gradient-direction=\"'top'\" :line-width=\"3\" :model-value=\"value2\" :padding=\"8\"\n\t\t:smooth=\"10\" :stroke-linecap=\"'round'\" :type=\"'trend'\" auto-draw>\n\t</v-sparkline>\n\n        \n\n        <v-card-text class=\"pb-0\">\n          <p class=\"text-h5 text--primary\">\n            Trend storico\n          </p>\n          \n        </v-card-text>\n        <v-card-actions class=\"pt-0\">\n          <v-btn\n            text\n            color=\"teal accent-4\"\n            @click=\"reveal = false\"\n          >\n            Close\n          </v-btn>\n        </v-card-actions>\n      </v-card>\n    </v-expand-transition>\n\n\n  </v-card>\n</template>\n\n<script>\n  export default {\n    data: function () {\n      return {\n        gradient: ['#f72047', '#ffd200', '#1feaea'],\n        value2: [0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0],\n\n        reveal: false,\n\n      }\n    }\n  }\n</script>\n\n<style>\n  .v-sheet--offset {\n    /*top: -24px;*/\n    position: relative;\n  }\n  .nrdb-ui-sparkline path {\n    stroke-dasharray: 0 !important;\n  }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":230,"y":880,"wires":[[]]},{"id":"a30db28e74a8afa4","type":"ui-template","z":"e0e9613a06881657","g":"3e140818f1a7d9b3","group":"33eb3d193bdc9eff","page":"","ui":"","name":"Impieghi Totali","order":3,"width":"3","height":"3","head":"","format":"<template>\n  <v-card\n    class=\"mx-auto\"\n    width=\"75%\"\n    color=\"#a9daef\">\n\n    <v-card-text>\n      <p class=\"text-h6 text--primary\">\n        Impieghi Totali\n      </p>\n      <p class=\"text-h5 text--primary text-center\">\n        €3.536k\n      </p>\n      <div class=\"text--primary\">\n        Cap. Fisso + Cap. Circolante\n      </div>\n    </v-card-text>\n\n    <v-card-actions>\n      <v-btn\n        text\n        color=\"teal accent-4\"\n        @click=\"reveal = true\"\n      >\n        Vis. trend\n      </v-btn>\n    </v-card-actions>\n\n    <v-expand-transition>\n      <v-card\n        v-if=\"reveal\"\n        class=\"transition-fast-in-fast-out v-card--reveal\"\n        style=\"height: 100%;\"\n      >\n\n\n\t<v-sparkline class=\"nrdb-ui-sparkline\" :auto-line-width=\"false\" :fill=\"false\"\n\t\t:gradient=\"gradient\"\n\t\t:gradient-direction=\"'top'\" :line-width=\"3\" :model-value=\"value2\" :padding=\"8\"\n\t\t:smooth=\"10\" :stroke-linecap=\"'round'\" :type=\"'trend'\" auto-draw>\n\t</v-sparkline>\n\n        \n\n        <v-card-text class=\"pb-0\">\n          <p class=\"text-h5 text--primary\">\n            Trend storico\n          </p>\n          \n        </v-card-text>\n        <v-card-actions class=\"pt-0\">\n          <v-btn\n            text\n            color=\"teal accent-4\"\n            @click=\"reveal = false\"\n          >\n            Close\n          </v-btn>\n        </v-card-actions>\n      </v-card>\n    </v-expand-transition>\n\n\n  </v-card>\n</template>\n\n<script>\n  export default {\n    data: function () {\n      return {\n        gradient: ['#f72047', '#ffd200', '#1feaea'],\n        value2: [0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0],\n\n        reveal: false,\n\n      }\n    }\n  }\n</script>\n\n<style>\n  .v-sheet--offset {\n    /*top: -24px;*/\n    position: relative;\n  }\n  .nrdb-ui-sparkline path {\n    stroke-dasharray: 0 !important;\n  }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":220,"y":940,"wires":[[]]},{"id":"b37dbef0042a42f2","type":"ui-template","z":"e0e9613a06881657","g":"3e140818f1a7d9b3","group":"33eb3d193bdc9eff","page":"","ui":"","name":"Poste aggiuntive","order":5,"width":"0","height":"0","head":"","format":"<template>\n\n<v-expansion-panels>\n    <v-expansion-panel focusable>\n        <v-expansion-panel-title class=\"text-h5 text--primary text-center\">Dettaglio poste aggiuntive</v-expansion-panel-title>\n        <v-expansion-panel-text>\n\n\t\t\t<v-row class=\"mb-6\" no-gutters>\n\n\t\t\t  <v-col>\n\t\t\t\t<v-sheet class=\"pa-2 ma-2\">\n\t\t\t\t\t  <v-card\n\t\t\t\t\t\tclass=\"mx-auto\"\n\t\t\t\t\t\twidth=\"75%\"\n\t\t\t\t\t\tmax-width=\"266\"\n\t\t\t\t\t\tcolor=\"#a9daef\">\n\n\t\t\t\t\t\t<v-card-text>\n\t\t\t\t\t\t  <p class=\"text-h6 text--primary\">\n\t\t\t\t\t\t\tCapitali di terzi\n\t\t\t\t\t\t  </p>\n\t\t\t\t\t\t  <p class=\"text-h5 text--primary text-center\">\n\t\t\t\t\t\t\t€226k\n\t\t\t\t\t\t  </p>\n\t\t\t\t\t\t  <div class=\"text--primary\">\n\t\t\t\t\t\t\tPassività correnti e consolidate\n\t\t\t\t\t\t  </div>\n\t\t\t\t\t\t</v-card-text>\n\n\t\t\t\t\t\t<v-card-actions>\n\t\t\t\t\t\t  <v-btn\n\t\t\t\t\t\t\ttext\n\t\t\t\t\t\t\tcolor=\"teal accent-4\"\n\t\t\t\t\t\t\t@click=\"reveal = true\"\n\t\t\t\t\t\t  >\n\t\t\t\t\t\t\tVis. trend\n\t\t\t\t\t\t  </v-btn>\n\t\t\t\t\t\t</v-card-actions>\n\n\t\t\t\t\t\t<v-expand-transition>\n\t\t\t\t\t\t  <v-card\n\t\t\t\t\t\t\tv-if=\"reveal\"\n\t\t\t\t\t\t\tclass=\"transition-fast-in-fast-out v-card--reveal\"\n\t\t\t\t\t\t\tstyle=\"height: 100%;\"\n\t\t\t\t\t\t  >\n\n\t\t\t\t\t\t<v-sparkline class=\"nrdb-ui-sparkline\" :auto-line-width=\"false\" :fill=\"false\"\n\t\t\t\t\t\t\t:gradient=\"gradient\"\n\t\t\t\t\t\t\t:gradient-direction=\"'top'\" :line-width=\"3\" :model-value=\"value2\" :padding=\"8\"\n\t\t\t\t\t\t\t:smooth=\"10\" :stroke-linecap=\"'round'\" :type=\"'trend'\" auto-draw>\n\t\t\t\t\t\t</v-sparkline>\n\n\t\t\t\t\t\t\t<v-card-text class=\"pb-0\">\n\t\t\t\t\t\t\t  <p class=\"text-h5 text--primary\">\n\t\t\t\t\t\t\t\tTrend storico\n\t\t\t\t\t\t\t  </p>\n\t\t\t\t\t\t\t  \n\t\t\t\t\t\t\t</v-card-text>\n\t\t\t\t\t\t\t<v-card-actions class=\"pt-0\">\n\t\t\t\t\t\t\t  <v-btn\n\t\t\t\t\t\t\t\ttext\n\t\t\t\t\t\t\t\tcolor=\"teal accent-4\"\n\t\t\t\t\t\t\t\t@click=\"reveal = false\"\n\t\t\t\t\t\t\t  >\n\t\t\t\t\t\t\t\tClose\n\t\t\t\t\t\t\t  </v-btn>\n\t\t\t\t\t\t\t</v-card-actions>\n\t\t\t\t\t\t  </v-card>\n\t\t\t\t\t\t</v-expand-transition>\n\n\t\t\t\t\t  </v-card>\n\t\t\t\t</v-sheet>\n\t\t\t  </v-col>\n\n\t\t\t</v-row>\n\n        </v-expansion-panel-text>\n\t</v-expansion-panel>\n</v-expansion-panels>\n\n</template>\n\n\n<script>\n  export default {\n    data: function () {\n      return {\n        gradient: ['#f72047', '#ffd200', '#1feaea'],\n        value2: [0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0],\n\n        reveal: false,\n\n      }\n    }\n  }\n</script>\n\n<style>\n  .v-sheet--offset {\n    /*top: -24px;*/\n    position: relative;\n  }\n  .nrdb-ui-sparkline path {\n    stroke-dasharray: 0 !important;\n  }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":450,"y":920,"wires":[[]]},{"id":"4a797148a24b18ca","type":"ui-template","z":"e0e9613a06881657","g":"3e140818f1a7d9b3","group":"33eb3d193bdc9eff","page":"","ui":"","name":"Patrimonio netto","order":4,"width":"3","height":"3","head":"","format":"<template>\n  <v-card\n    class=\"mx-auto\"\n    width=\"75%\"\n    color=\"#a9daef\">\n\n    <v-card-text>\n      <p class=\"text-h6 text--primary\">\n        Patrimonio netto\n      </p>\n      <p class=\"text-h5 text--primary text-center\">\n        €3.310k\n      </p>\n      <div class=\"text--primary\">\n        Impieghi tot. - Capitali di terzi\n      </div>\n    </v-card-text>\n\n    <v-card-actions>\n      <v-btn\n        text\n        color=\"teal accent-4\"\n        @click=\"reveal = true\"\n      >\n        Vis. trend\n      </v-btn>\n    </v-card-actions>\n\n    <v-expand-transition>\n      <v-card\n        v-if=\"reveal\"\n        class=\"transition-fast-in-fast-out v-card--reveal\"\n        style=\"height: 100%;\"\n      >\n\n\n\t<v-sparkline class=\"nrdb-ui-sparkline\" :auto-line-width=\"false\" :fill=\"false\"\n\t\t:gradient=\"gradient\"\n\t\t:gradient-direction=\"'top'\" :line-width=\"3\" :model-value=\"value2\" :padding=\"8\"\n\t\t:smooth=\"10\" :stroke-linecap=\"'round'\" :type=\"'trend'\" auto-draw>\n\t</v-sparkline>\n\n        \n\n        <v-card-text class=\"pb-0\">\n          <p class=\"text-h5 text--primary\">\n            Trend storico\n          </p>\n          \n        </v-card-text>\n        <v-card-actions class=\"pt-0\">\n          <v-btn\n            text\n            color=\"teal accent-4\"\n            @click=\"reveal = false\"\n          >\n            Close\n          </v-btn>\n        </v-card-actions>\n      </v-card>\n    </v-expand-transition>\n\n\n  </v-card>\n</template>\n\n<script>\n  export default {\n    data: function () {\n      return {\n        gradient: ['#f72047', '#ffd200', '#1feaea'],\n        value2: [0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0],\n\n        reveal: false,\n\n      }\n    }\n  }\n</script>\n\n<style>\n  .v-sheet--offset {\n    /*top: -24px;*/\n    position: relative;\n  }\n  .nrdb-ui-sparkline path {\n    stroke-dasharray: 0 !important;\n  }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":220,"y":1000,"wires":[[]]},{"id":"5b9436abcc6f74e6","type":"ui-template","z":"e0e9613a06881657","g":"3331b4057f65e12d","group":"c01db1ef8820594c","page":"","ui":"","name":"Poste aggiuntive","order":5,"width":"0","height":"0","head":"","format":"<template>\n\n<v-expansion-panels>\n    <v-expansion-panel focusable>\n        <v-expansion-panel-title class=\"text-h5 text--primary text-center\">Dettaglio poste aggiuntive</v-expansion-panel-title>\n        <v-expansion-panel-text>\n\n\t\t\t<v-row class=\"mb-6\" no-gutters>\n\n\t\t\t  <v-col>\n\t\t\t\t<v-sheet class=\"pa-2 ma-2\">\n\t\t\t\t  <v-card\n\t\t\t\t\tclass=\"mx-auto\"\n\t\t\t\t\twidth=\"75%\"\n\t\t\t\t\tcolor=\"#a9daef\">\n\t\t\t\t\t<v-card-text>\n\t\t\t\t\t  <p class=\"text-h6 text--primary\">\n\t\t\t\t\t\tMar. Op. L. (EBITDA)\n\t\t\t\t\t  </p>\n\t\t\t\t\t  <p class=\"text-h5 text--primary text-center\">\n\t\t\t\t\t\t€505,5k\n\t\t\t\t\t  </p>\n\t\t\t\t\t</v-card-text>\n\t\t\t\t\t<v-sparkline class=\"nrdb-ui-sparkline\" :auto-line-width=\"false\" :fill=\"false\"\n\t\t\t\t\t\t:gradient=\"gradient\"\n\t\t\t\t\t\t:gradient-direction=\"'top'\" :line-width=\"3\" :model-value=\"value2\" :padding=\"8\"\n\t\t\t\t\t\t:smooth=\"10\" :stroke-linecap=\"'round'\" :type=\"'trend'\" auto-draw>\n\t\t\t\t\t</v-sparkline>\n\t\t\t\t  </v-card>\n\t\t\t\t</v-sheet>\n\t\t\t  </v-col>\n\n\t\t\t  <v-col>\n\t\t\t\t<v-sheet class=\"pa-2 ma-2\">\n\t\t\t\t  <v-card\n\t\t\t\t\tclass=\"mx-auto\"\n\t\t\t\t\twidth=\"75%\"\n\t\t\t\t\tcolor=\"#a9daef\">\n\t\t\t\t\t<v-card-text>\n\t\t\t\t\t  <p class=\"text-h6 text--primary\">\n\t\t\t\t\t\tProdotto Netto (PNA)\n\t\t\t\t\t  </p>\n\t\t\t\t\t  <p class=\"text-h5 text--primary text-center\">\n\t\t\t\t\t\t€648.5k\n\t\t\t\t\t  </p>\n\t\t\t\t\t</v-card-text>\n\t\t\t\t\t<v-sparkline class=\"nrdb-ui-sparkline\" :auto-line-width=\"false\" :fill=\"false\"\n\t\t\t\t\t\t:gradient=\"gradient\"\n\t\t\t\t\t\t:gradient-direction=\"'top'\" :line-width=\"3\" :model-value=\"value2\" :padding=\"8\"\n\t\t\t\t\t\t:smooth=\"10\" :stroke-linecap=\"'round'\" :type=\"'trend'\" auto-draw>\n\t\t\t\t\t</v-sparkline>\n\t\t\t\t  </v-card>\n\t\t\t\t</v-sheet>\n\t\t\t  </v-col>\n\n\t\t\t  <v-col>\n\t\t\t\t<v-sheet class=\"pa-2 ma-2\">\n\t\t\t\t  <v-card\n\t\t\t\t\tclass=\"mx-auto\"\n\t\t\t\t\twidth=\"75%\"\n\t\t\t\t\tcolor=\"#a9daef\">\n\t\t\t\t\t<v-card-text>\n\t\t\t\t\t  <p class=\"text-h6 text--primary\">\n\t\t\t\t\t\tRedditi distribuiti\n\t\t\t\t\t  </p>\n\t\t\t\t\t  <p class=\"text-h5 text--primary text-center\">\n\t\t\t\t\t\t€158k\n\t\t\t\t\t  </p>\n\t\t\t\t\t</v-card-text>\n\t\t\t\t\t<v-sparkline class=\"nrdb-ui-sparkline\" :auto-line-width=\"false\" :fill=\"false\"\n\t\t\t\t\t\t:gradient=\"gradient\"\n\t\t\t\t\t\t:gradient-direction=\"'top'\" :line-width=\"3\" :model-value=\"value2\" :padding=\"8\"\n\t\t\t\t\t\t:smooth=\"10\" :stroke-linecap=\"'round'\" :type=\"'trend'\" auto-draw>\n\t\t\t\t\t</v-sparkline>\n\t\t\t\t  </v-card>\n\t\t\t\t</v-sheet>\n\t\t\t  </v-col>\n\n\t\t\t  <v-col>\n\t\t\t\t<v-sheet class=\"pa-2 ma-2\">\n\t\t\t\t  <v-card\n\t\t\t\t\tclass=\"mx-auto\"\n\t\t\t\t\twidth=\"75%\"\n\t\t\t\t\tcolor=\"#a9daef\">\n\t\t\t\t\t<v-card-text>\n\t\t\t\t\t  <p class=\"text-h6 text--primary\">\n\t\t\t\t\t\tReddito Op.ivo (RO)\n\t\t\t\t\t  </p>\n\t\t\t\t\t  <p class=\"text-h5 text--primary text-center\">\n\t\t\t\t\t\t€491k\n\t\t\t\t\t  </p>\n\t\t\t\t\t</v-card-text>\n\t\t\t\t\t<v-sparkline class=\"nrdb-ui-sparkline\" :auto-line-width=\"false\" :fill=\"false\"\n\t\t\t\t\t\t:gradient=\"gradient\"\n\t\t\t\t\t\t:gradient-direction=\"'top'\" :line-width=\"3\" :model-value=\"value2\" :padding=\"8\"\n\t\t\t\t\t\t:smooth=\"10\" :stroke-linecap=\"'round'\" :type=\"'trend'\" auto-draw>\n\t\t\t\t\t</v-sparkline>\n\t\t\t\t  </v-card>\n\t\t\t\t</v-sheet>\n\t\t\t  </v-col>\n\n\t\t\t</v-row>\n\n        </v-expansion-panel-text>\n\t</v-expansion-panel>\n</v-expansion-panels>\n\n</template>\n\n\n<script>\n  export default {\n    data: function () {\n      return {\n        gradient: ['#04f104', '#ffd200', '#f70000'],\n        value2: [0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0]\n      }\n    },\n  }\n</script>\n\n<style>\n  .v-sheet--offset {\n    /*top: -24px;*/\n    position: relative;\n  }\n  .nrdb-ui-sparkline path {\n    stroke-dasharray: 0 !important;\n  }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":510,"y":600,"wires":[[]]},{"id":"166d01dfe0e4f72f","type":"ui-template","z":"e0e9613a06881657","g":"03a5c05ab8da4d34","group":"efca6354a670c5c3","page":"","ui":"","name":"Break-Even Point (BEP) - Verdura","order":1,"width":"6","height":"9","head":"","format":"<!-- template -->\n    <div id=\"chart03\"  style=\"width: 600px; height: 500px\"></div>\n<!-- /template -->\n\n\n<script>\n\nvar myChart = echarts.init(document.getElementById('chart03'));\n\nvar option = {\n    title: {\n        text: 'Break-Even Point (BEP) - Ortaggi',\n    },\n    legend: {\n        data: ['Costi Fissi', 'Costi Variabili', 'Costi Totali', 'Ricavi']\n    },\n    xAxis: {\n        name: 'Qtà',\n        type: 'value',\n        min: 0,\n        max: 2000,\n        axisLabel: {\n            formatter: '{value}'\n        }\n    },\n    yAxis: {\n        name: 'Valore (€)',\n        type: 'value',\n        min: 0,\n        max: 40000,\n        axisLabel: {\n            formatter: '{value}'\n        }\n    },\n    series: [\n        {\n            name: 'Costi Fissi',\n            type: 'line',\n            data: [[0, 16000], [2000, 16000]],\n            smooth: false,\n            symbol: 'none',\n            lineStyle: {\n                type: 'dashed'\n            }\n        },\n        {\n            name: 'Costi Variabili',\n            type: 'line',\n            data: [[0, 0], [2000, 21000]],\n            smooth: false,\n            symbol: 'none'\n        },\n        {\n            name: 'Costi Totali',\n            type: 'line',\n            data: [[0, 16000], [2000, 37000]],\n            smooth: false,\n            symbol: 'none',\n        },\n        {\n            name: 'Ricavi',\n            type: 'line',\n            data: [[0, 0], [2000, 40000]],\n            smooth: false,\n            symbol: 'none',\n            markPoint: {\n                data: [\n                    {\n                        name: 'Break-Even Point',\n                        coord: [1700, 34000],\n                        value: 'BEP',\n                        itemStyle: {\n                            color: 'green'\n                        }\n                    }\n                ]\n            }\n        }\n    ]\n};\n\nmyChart.setOption(option);\n\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":780,"y":800,"wires":[[]]},{"id":"ed8693c8fd163db2","type":"ui-template","z":"e0e9613a06881657","g":"03a5c05ab8da4d34","group":"efca6354a670c5c3","page":"","ui":"","name":"Break-Even Point (BEP) - Frutta","order":2,"width":"6","height":"9","head":"","format":"<!-- template -->\n    <div id=\"chart04\"  style=\"width: 600px; height: 500px\"></div>\n<!-- /template -->\n\n\n<script>\n\nvar myChart = echarts.init(document.getElementById('chart04'));\n\nvar option = {\n    title: {\n        text: 'Break-Even Point (BEP) - Frutta',\n    },\n    //tooltip: {},\n    legend: {\n        data: ['Costi Fissi', 'Costi Variabili', 'Costi Totali', 'Ricavi']\n    },\n    // 4. Configurazione degli assi X e Y\n    xAxis: {\n        name: 'Qtà)',\n        type: 'value',\n        min: 0,\n        max: 2000,\n        axisLabel: {\n            formatter: '{value}'\n        }\n    },\n    yAxis: {\n        name: 'Valore (€)',\n        type: 'value',\n        min: 0,\n        max: 220000,\n        axisLabel: {\n            formatter: '{value}'\n        }\n    },\n    series: [\n        {\n            name: 'Costi Fissi',\n            type: 'line',\n            data: [[0, 44000], [2000, 44000]],\n            smooth: false,\n            symbol: 'none',\n            lineStyle: {\n                type: 'dashed'\n            }\n        },\n        {\n            name: 'Costi Variabili',\n            type: 'line',\n            data: [[0, 0], [2000, 100000]],\n            smooth: false,\n            symbol: 'none'\n        },\n        {\n            name: 'Costi Totali',\n            type: 'line',\n            data: [[0, 44000], [2000, 144000]],\n            smooth: false,\n            symbol: 'none'\n        },\n        {\n            name: 'Ricavi',\n            type: 'line',\n            data: [[0, 0], [2000, 200000]],\n            smooth: false,\n            symbol: 'none',\n            markPoint: {\n                data: [\n                    {\n                        name: 'Break-Even Point',\n                        coord: [860, 85000],\n                        value: 'BEP',\n                        itemStyle: {\n                            color: 'green'\n                        }\n                    }\n                ]\n            }\n        }\n    ]\n};\n\nmyChart.setOption(option);\n\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":770,"y":840,"wires":[[]]},{"id":"fc1d8139f215f9b6","type":"ui-template","z":"e0e9613a06881657","g":"03a5c05ab8da4d34","group":"f518427046c1d8fb","page":"","ui":"","name":"Mix economico-gestionale storico","order":1,"width":"12","height":"12","head":"","format":"<template>\n    <div class=\"pa-4 bg-white rounded-lg shadow-sm\">\n        <h3 class=\"text-h5 text-center mb-2 font-weight-bold\" style=\"color: #2c3e50\">\n            Dinamica economico-gestionale storica: <i>il fatturato non è tutto</i>\n        </h3>\n        <div ref=\"mixgest2\" style=\"height: 65vh; width: 100%;\"></div>\n    </div>\n</template>\n\n<script>\nexport default {\n    data: () => ({\n        myChart: null,\n        pList: ['Frutta', 'Ortaggi', 'Cereali', 'Viticoltura', 'Olivicoltura', 'Officinali', 'Altre piante']\n    }),\n    watch: {\n        msg: function (newMsg) {\n            if (newMsg && Array.isArray(newMsg.payload)) {\n                this.renderChart(newMsg.payload);\n            }\n        }\n    },\n    methods: {\n        renderChart(csvData) {\n            if (!this.myChart) {\n                this.myChart = echarts.init(this.$refs.mixgest2);\n            }\n\n            let dataGDP = {}, dataPI = {}, dataSI = {};\n            const years = [2019, 2020, 2021, 2022, 2023, 2024, 2025];\n\n            csvData.forEach(r => {\n                const y = parseInt(r.anno);\n                const plvTot = parseFloat(r.TOT_PLV) || 1;\n                const ratioCC = parseFloat(r.TOT_CC) / plvTot;\n                const ratioVA = parseFloat(r.TOT_VA) / plvTot;\n                const valoriSettore = [\n                    parseFloat(r.Frutta), \n                    parseFloat(r.Ortaggi), \n                    parseFloat(r.Cereali), \n                    parseFloat(r.Vite), \n                    parseFloat(r.Olivo), \n                    parseFloat(r.Officinali), \n                    parseFloat(r.Altro)\n                ];\n                \n                dataGDP[y] = valoriSettore;\n                dataPI[y]  = valoriSettore.map(v => v * ratioCC);\n                dataSI[y]  = valoriSettore.map(v => v * ratioVA);\n            });\n\n            const option = {\n                baseOption: {\n                    timeline: {\n                        axisType: 'category',\n                        autoPlay: true,\n                        playInterval: 3500,\n                        data: years.map(y => y + '-01-01'),\n                        label: { formatter: (s) => new Date(s).getFullYear() },\n                        checkpointStyle: { color: '#0ba5cb', borderColor: '#fff' },\n                        lineStyle: { color: '#bdc3c7' }\n                    },\n                    tooltip: { \n                        trigger: 'axis', \n                        axisPointer: { type: 'shadow' },\n                        formatter: (params) => {\n                            let res = `<b>${params[0].name}</b><br/>`;\n                            params.forEach(p => {\n                                res += `${p.marker} ${p.seriesName}: €${p.value.toFixed(1)}k<br/>`;\n                            });\n                            return res;\n                        }\n                    },\n                    legend: { data: ['Ricavi', 'Costi', 'Margine'], top: 10, textStyle: { fontSize: 13 } },\n                    grid: { top: 80, bottom: 90, left: '5%', right: '5%', containLabel: true },\n                    xAxis: [{ \n                        type: 'category', \n                        data: this.pList, \n                        axisLabel: { interval: 0, rotate: 20, fontWeight: 'bold' } \n                    }],\n                    yAxis: [{ \n                        type: 'value', \n                        name: 'Valore (€k)', \n                        max: 700,\n                        splitLine: { lineStyle: { type: 'dashed' } }\n                    }],\n                    color: ['#0ba5cb', '#ff994d', '#b6d634'],\n                    series: [\n                        { name: 'Ricavi', type: 'bar', barWidth: '20%' },\n                        { name: 'Costi', type: 'bar', barWidth: '20%' },\n                        { name: 'Margine', type: 'bar', barWidth: '20%' },\n                        { \n                            name: 'MIX Proporzione', \n                            type: 'pie', \n                            center: ['85%', '22%'], \n                            radius: '15%',\n                            label: { show: false }\n                        }\n                    ]\n                },\n                options: years.map(y => ({\n                    title: { text: `Mix economico-gestionale pluriennale ${y}`, left: '5%', top: '2%', /*subtext: 'Ricavi - Costi - Margine'*/ },\n                    series: [\n                        { data: dataGDP[y] || [] },\n                        { data: dataPI[y] || [] },\n                        { data: dataSI[y] || [] },\n                        { data: [\n                            { name: 'Ricavi', value: (dataGDP[y] || []).reduce((a,b)=>a+b, 0) },\n                            { name: 'Costi', value: (dataPI[y] || []).reduce((a,b)=>a+b, 0) },\n                            { name: 'Margine', value: (dataSI[y] || []).reduce((a,b)=>a+b, 0) }\n                        ]}\n                    ]\n                }))\n            };\n            this.myChart.setOption(option);\n        }\n    },\n    mounted() {\n        window.addEventListener('resize', () => this.myChart && this.myChart.resize());\n    }\n}\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1240,"y":1100,"wires":[[]]},{"id":"0695067cd9afbda5","type":"comment","z":"e0e9613a06881657","g":"73b6ef3eb0559eea","name":"Indici di redditività del capitale","info":"","x":940,"y":480,"wires":[]},{"id":"65cfc0c2fc8129a4","type":"ui-template","z":"e0e9613a06881657","g":"73b6ef3eb0559eea","group":"d88756fa67f413ab","page":"","ui":"","name":"ROE","order":2,"width":"3","height":"3","head":"","format":"<template>\n  <v-card class=\"mx-auto\" width=\"75%\" color=\"#a9efe0\">\n\n    <v-card-text>\n      <p class=\"text-h5 text--primary\">\n        ROE\n      </p>\n      <p class=\"text-h4 text--primary text-center\">\n        {{ valore }}%\n      </p>\n      <div class=\"text--primary\">\n        {{ label_formula }}\n      </div>\n    </v-card-text>\n    <v-card-actions>\n      <v-btn text color=\"teal accent-4\" @click=\"reveal = true\">\n        Obi: {{ obiettivo }}%: Vis. Progresso\n      </v-btn>\n    </v-card-actions>\n\n    <v-expand-transition>\n      <v-card v-if=\"reveal\" class=\"v-card--reveal\"\n        style=\"height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 10;\">\n\n        <v-card-text class=\"flex-grow-1 d-flex flex-column justify-center align-center\">\n          <v-progress-circular :rotate=\"-90\" :size=\"95\" :width=\"15\" :model-value=\"progresso\" :color=\"getProgressoColor\">\n            {{ progresso }}%\n          </v-progress-circular>\n\n          <!-- div class=\"text-caption mt-2 text-grey\">Target: {{ obiettivo }}%</div -->\n\n          <v-card-actions class=\"justify-center w-100\">\n            <v-btn text color=\"teal\" @click=\"reveal = false\"><span class=\"text-grey\">Target: {{ obiettivo }}% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Chiudi</v-btn>\n          </v-card-actions>\n\n        </v-card-text>\n\n        <!-- v-card-actions class=\"justify-start w-100\">\n          <v-btn text color=\"teal\" @click=\"reveal = false\">Close</v-btn>\n        </v-card-actions -->\n      </v-card>\n    </v-expand-transition>\n\n  </v-card>\n</template>\n\n<script>\nexport default {\n    data: () => ({\n        reveal: false,\n        valore: 0,\n        obiettivo: 0,\n        progresso: 0,\n        label_formula: \"Caricamento...\",\n    }),\n\t\n\tcomputed: {\n    getProgressoColor() {\n      if (this.progresso < 50) return 'orange-darken-1';\n      if (this.progresso < 90) return 'blue-darken-1';\n      return 'green-darken-2';\n    }\n\t},\n\t\n    watch: {\n        msg: function (newMsg) {\n            if (!newMsg || newMsg.topic !== \"ROE\") return; \n            this.valore = newMsg.payload.valore || 0;\n            this.obiettivo = newMsg.payload.obi || 0;\n            this.label_formula = newMsg.payload.label || \"ROE\";\n\n            if (this.obiettivo !== 0) {\n                this.progresso = Math.min(Math.round((this.valore / this.obiettivo) * 100), 100);\n            } else {\n                this.progresso = 0;\n            }\n        }\n    }\n}\n</script>\n\n<style scoped>\n  .v-card--reveal {\n    align-items: center;\n    bottom: 0;\n    justify-content: center;\n    opacity: 1 !important;\n    position: absolute;\n    width: 100%;\n    border-top: 2px solid #009688;\n  }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":890,"y":540,"wires":[[]]},{"id":"2c243fca853cb5f9","type":"ui-template","z":"e0e9613a06881657","g":"73b6ef3eb0559eea","group":"d88756fa67f413ab","page":"","ui":"","name":"ROI","order":3,"width":"3","height":"3","head":"","format":"<template>\n  <v-card class=\"mx-auto\" width=\"75%\" color=\"#a9efe0\">\n\n    <v-card-text>\n      <p class=\"text-h5 text--primary\">\n        ROI\n      </p>\n      <p class=\"text-h4 text--primary text-center\">\n        {{ valore }}%\n      </p>\n      <div class=\"text--primary\">\n        Redd. Op.ivo (RO) / Cap. Inv. (KI)\n      </div>\n    </v-card-text>\n    <v-card-actions>\n      <v-btn text color=\"teal accent-4\" @click=\"reveal = true\">\n        Obi: {{ obiettivo }}%: Vis. Progresso\n      </v-btn>\n    </v-card-actions>\n\n    <v-expand-transition>\n      <v-card v-if=\"reveal\" class=\"v-card--reveal\"\n        style=\"height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 10;\">\n\n        <v-card-text class=\"flex-grow-1 d-flex flex-column justify-center align-center\">\n          <v-progress-circular :rotate=\"-90\" :size=\"95\" :width=\"15\" :model-value=\"progresso\" :color=\"getProgressoColor\">\n            {{ progresso }}%\n          </v-progress-circular>\n\n          <!-- div class=\"text-caption mt-2 text-grey\">Target: {{ obiettivo }}%</div -->\n\n          <v-card-actions class=\"justify-center w-100\">\n            <v-btn text color=\"teal\" @click=\"reveal = false\"><span class=\"text-grey\">Target: {{ obiettivo }}% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Chiudi</v-btn>\n          </v-card-actions>\n\n        </v-card-text>\n\n        <!-- v-card-actions class=\"justify-start w-100\">\n          <v-btn text color=\"teal\" @click=\"reveal = false\">Close</v-btn>\n        </v-card-actions -->\n      </v-card>\n    </v-expand-transition>\n\n  </v-card>\n</template>\n\n<script>\nexport default {\n    data: () => ({\n        reveal: false,\n        valore: 0,\n        obiettivo: 0,\n        progresso: 0,\n        label_formula: \"Caricamento...\",\n    }),\n\t\n\tcomputed: {\n    getProgressoColor() {\n      if (this.progresso < 50) return 'orange-darken-1';\n      if (this.progresso < 90) return 'blue-darken-1';\n      return 'green-darken-2';\n    }\n\t},\n\t\n    watch: {\n        msg: function (newMsg) {\n            if (!newMsg || newMsg.topic !== \"ROI\") return; \n\n            this.valore = newMsg.payload.valore || 0;\n            this.obiettivo = newMsg.payload.obi || 0;\n            this.label_formula = newMsg.payload.label || \"ROI\";\n\n            if (this.obiettivo !== 0) {\n                this.progresso = Math.min(Math.round((this.valore / this.obiettivo) * 100), 100);\n            } else {\n                this.progresso = 0;\n            }\n        }\n    }\n}\n</script>\n\n<style scoped>\n  .v-card--reveal {\n    align-items: center;\n    bottom: 0;\n    justify-content: center;\n    opacity: 1 !important;\n    position: absolute;\n    width: 100%;\n    border-top: 2px solid #009688;\n  }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1030,"y":540,"wires":[[]]},{"id":"426171c1f999288d","type":"ui-template","z":"e0e9613a06881657","g":"73b6ef3eb0559eea","group":"d88756fa67f413ab","page":"","ui":"","name":"ROD","order":5,"width":"3","height":"3","head":"","format":"<template>\n\n  <v-card class=\"mx-auto\" width=\"75%\" color=\"#a9efe0\">\n    <v-card-text>\n      <p class=\"text-h5 text--primary\">\n        ROD\n      </p>\n      <p class=\"text-h4 text--primary text-center\">\n        {{ valore }}%\n      </p>\n      <div class=\"text--primary\">\n        Oneri Fin. (OF) / Fonti di terzi (KT)\n      </div>\n    </v-card-text>\n    <v-card-actions>\n      <v-btn text color=\"teal accent-4\" @click=\"reveal = true\">\n        Obi: {{ obiettivo }}%: Vis. Progresso\n      </v-btn>\n    </v-card-actions>\n\n    <v-expand-transition>\n      <v-card v-if=\"reveal\" class=\"v-card--reveal\"\n        style=\"height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 10;\">\n        <v-card-text class=\"flex-grow-1 d-flex flex-column justify-center align-center\">\n          <v-progress-circular :rotate=\"-90\" :size=\"95\" :width=\"15\" :model-value=\"progresso\" :color=\"getProgressoColor\">\n            {{ progresso }}%\n          </v-progress-circular>\n          <!-- div class=\"text-caption mt-2 text-grey\">Target: {{ obiettivo }}%</div -->\n          <v-card-actions class=\"justify-center w-100\">\n            <v-btn text color=\"teal\" @click=\"reveal = false\"><span class=\"text-grey\">Target: {{ obiettivo }}% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Chiudi</v-btn>\n\n          </v-card-actions>\n        </v-card-text>\n\n        <!-- v-card-actions class=\"justify-start w-100\">\n\n          <v-btn text color=\"teal\" @click=\"reveal = false\">Close</v-btn>\n\n        </v-card-actions -->\n      </v-card>\n    </v-expand-transition>\n  </v-card>\n\n</template>\n\n\n<script>\n\nexport default {\n    data: () => ({\n        reveal: false,\n        valore: 0,\n        obiettivo: 0,\n        progresso: 0,\n        label_formula: \"Caricamento...\",\n    }),\n\n \n\n  computed: {\n\n    getProgressoColor() {\n\n      if (this.progresso < 50) return 'orange-darken-1';\n\n      if (this.progresso < 90) return 'blue-darken-1';\n\n      return 'green-darken-2';\n\n    }\n\n  },\n\n \n\n    watch: {\n\n        msg: function (newMsg) {\n            if (!newMsg || newMsg.topic !== \"ROD\") return;\n            this.valore = newMsg.payload.valore || 0;\n            this.obiettivo = newMsg.payload.obi || 0;\n            this.label_formula = newMsg.payload.label || \"ROD\";\n\n\n            if (this.obiettivo !== 0) {\n\n                this.progresso = Math.min(Math.round((this.valore / this.obiettivo) * 100), 100);\n\n            } else {\n\n                this.progresso = 0;\n\n            }\n\n        }\n\n    }\n\n}\n\n</script>\n\n\n\n<style scoped>\n\n  .v-card--reveal {\n\n    align-items: center;\n\n    bottom: 0;\n\n    justify-content: center;\n\n    opacity: 1 !important;\n\n    position: absolute;\n\n    width: 100%;\n\n    border-top: 2px solid #009688;\n\n  }\n\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1030,"y":600,"wires":[[]]},{"id":"bdcda5f079ed8de8","type":"ui-template","z":"e0e9613a06881657","g":"73b6ef3eb0559eea","group":"d88756fa67f413ab","page":"","ui":"","name":"ROS","order":4,"width":"3","height":"3","head":"","format":"<template>\n  <v-card class=\"mx-auto\" width=\"75%\" color=\"#a9efe0\">\n\n    <v-card-text>\n      <p class=\"text-h5 text--primary\">\n        ROS\n      </p>\n      <p class=\"text-h4 text--primary text-center\">\n        {{ valore }}%\n      </p>\n      <div class=\"text--primary\">\n        Redd. Op.ivo (RO) / Pr. Ven. (PLV)\n      </div>\n    </v-card-text>\n    <v-card-actions>\n      <v-btn text color=\"teal accent-4\" @click=\"reveal = true\">\n        Obi: {{ obiettivo }}%: Vis. Progresso\n      </v-btn>\n    </v-card-actions>\n\n    <v-expand-transition>\n      <v-card v-if=\"reveal\" class=\"v-card--reveal\"\n        style=\"height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 10;\">\n\n        <v-card-text class=\"flex-grow-1 d-flex flex-column justify-center align-center\">\n          <v-progress-circular :rotate=\"-90\" :size=\"95\" :width=\"15\" :model-value=\"progresso\" :color=\"getProgressoColor\">\n            {{ progresso }}%\n          </v-progress-circular>\n\n          <!-- div class=\"text-caption mt-2 text-grey\">Target: {{ obiettivo }}%</div -->\n\n          <v-card-actions class=\"justify-center w-100\">\n            <v-btn text color=\"teal\" @click=\"reveal = false\"><span class=\"text-grey\">Target: {{ obiettivo }}% &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Chiudi</v-btn>\n          </v-card-actions>\n\n        </v-card-text>\n\n        <!-- v-card-actions class=\"justify-start w-100\">\n          <v-btn text color=\"teal\" @click=\"reveal = false\">Close</v-btn>\n        </v-card-actions -->\n      </v-card>\n    </v-expand-transition>\n\n  </v-card>\n</template>\n\n<script>\nexport default {\n    data: () => ({\n        reveal: false,\n        valore: 0,\n        obiettivo: 0,\n        progresso: 0,\n        label_formula: \"Caricamento...\",\n    }),\n\t\n\tcomputed: {\n    getProgressoColor() {\n      if (this.progresso < 50) return 'orange-darken-1';\n      if (this.progresso < 90) return 'blue-darken-1';\n      return 'green-darken-2';\n    }\n\t},\n\t\n    watch: {\n        msg: function (newMsg) {\n            if (!newMsg || newMsg.topic !== \"ROS\") return; \n            this.valore = newMsg.payload.valore || 0;\n            this.obiettivo = newMsg.payload.obi || 0;\n            this.label_formula = newMsg.payload.label || \"ROS\";\n\n            if (this.obiettivo !== 0) {\n                this.progresso = Math.min(Math.round((this.valore / this.obiettivo) * 100), 100);\n            } else {\n                this.progresso = 0;\n            }\n        }\n    }\n}\n</script>\n\n<style scoped>\n  .v-card--reveal {\n    align-items: center;\n    bottom: 0;\n    justify-content: center;\n    opacity: 1 !important;\n    position: absolute;\n    width: 100%;\n    border-top: 2px solid #009688;\n  }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":890,"y":600,"wires":[[]]},{"id":"891b370b279c85d5","type":"ui-template","z":"e0e9613a06881657","g":"03a5c05ab8da4d34","group":"efca6354a670c5c3","page":"","ui":"","name":"Composizione RICAVI","order":3,"width":"6","height":"9","head":"","format":"<!-- template -->\n  <div id=\"comprica1\"  style=\"width: 600px; height: 500px\"></div>\n<!-- /template -->\n\n\n<script>\nvar myChart = echarts.init(document.getElementById('comprica1'));\n\nvar option = {\n    title: {\n        text: 'Composizione Ricavi Colturali',\n        textVerticalAlign: \"top\"\n    },\n\tlegend: { data: ['B2B', 'B2C'] },\n\ttoolbox: {\n      show: true,\n        top: '10%',\n        feature: {\n          restore: {},\n          saveAsImage: {},\n          dataView: {}\n        }\n      },\n\ttooltip: {},\n\tradar: {\n\t\tindicator: [\n\t\t  { name: 'Seminativi', max: 50000 },\n\t\t  { name: 'Miste', max: 50000 },\n\t\t  { name: 'Fruttiferi', max: 50000 },\n\t\t  { name: 'Olivicoltura', max: 50000 },\n\t\t  { name: 'Viticoltura', max: 50000 },\n\t\t  { name: 'Ortofloricoltura', max: 50000 },\n\t\t  { name: 'Cerealicoltura', max: 50000 }\n\t\t],\n\t\tsplitNumber: 10,\n\t\tradius: [\"0%\", \"65%\"]\n\t},\n\tseries: [\n\t\t{\n\t\t  name: 'Ricavi colturali',\n\t\t  type: 'radar',\n\t\t  //label: { show: true },\n\t\t  data: [\n\t\t\t{value: [4200, 30000, 20000, 35000, 50000, 18000, 8000], name: 'B2B'},\n\t\t\t{value: [5000, 14000, 28000, 26000, 42000, 21000, 12000], name: 'B2C'}\n\t\t  ]\n\t\t}\n\t]\n};\n\nmyChart.setOption(option);\n\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1100,"y":800,"wires":[[]]},{"id":"d0039598afa5891d","type":"ui-template","z":"e0e9613a06881657","g":"03a5c05ab8da4d34","group":"efca6354a670c5c3","page":"","ui":"","name":"Composizione COSTI","order":4,"width":"6","height":"9","head":"","format":"<!-- template -->\n  <div id=\"compcost1\"  style=\"width: 600px; height: 500px\"></div>\n<!-- /template -->\n\n\n<script>\nvar myChart = echarts.init(document.getElementById('compcost1'));\n\nvar option = {\n    title: {\n        text: 'Composizione Costi Colturali',\n        textVerticalAlign: \"top\"\n    },\n\tlegend: { data: ['Costi fissi', 'Costi variabili'] },\n\ttoolbox: {\n      show: true,\n        top: '10%',\n        feature: {\n          restore: {},\n          saveAsImage: {},\n          dataView: {}\n        }\n      },\n\ttooltip: {},\n\tradar: {\n\t\tindicator: [\n\t\t  { name: 'Seminativi', max: 3100 },\n\t\t  { name: 'Miste', max: 3100 },\n\t\t  { name: 'Fruttiferi', max: 3100 },\n\t\t  { name: 'Olivicoltura', max: 3100 },\n\t\t  { name: 'Viticoltura', max: 3100 },\n\t\t  { name: 'Ortofloricoltura', max: 3100 },\n\t\t  { name: 'Cerealicoltura', max: 3100 }\n\t\t],\n\t\tsplitNumber: 10,\n\t\tradius: [\"0%\", \"65%\"]\n\t},\n\tseries: [\n\t\t{\n\t\t  name: 'Costi colturali',\n\t\t  type: 'radar',\n\t\t  //label: { show: true },\n\t\t  data: [\n\t\t\t{value: [200, 300, 1000, 500, 150, 1800, 800], name: 'Costi fissi'},\n\t\t\t{value: [500, 1400, 2800, 2600, 420, 2100, 1200], name: 'Costi variabili'}\n\t\t  ]\n\t\t}\n\t]\n};\n\nmyChart.setOption(option);\n\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1100,"y":840,"wires":[[]]},{"id":"36ec2345c520aea9","type":"ui-template","z":"e0e9613a06881657","g":"03a5c05ab8da4d34","group":"efca6354a670c5c3","page":"","ui":"","name":"Variazione MARGINI 2025","order":5,"width":"6","height":"10","head":"","format":"<!-- template -->\n  <div id=\"varmargin1\"  style=\"width: 600px; height: 500px\"></div>\n<!-- /template -->\n\n\n<script>\n\nvar myChart = echarts.init(document.getElementById('varmargin1'));\n\nvar option = {\n    /*title: {\n        text: 'Variazione MARGINI 2025',\n    },*/\n    title: { text: 'Variazione MARGINI 2025', subtext: 'MdC = Ricavi - Costi' },\n  tooltip: {\n    trigger: 'axis',\n    axisPointer: {\n      type: 'shadow'\n    },\n    formatter: function (params) {\n      let dep;\n      if (params[1] && params[1].value !== '-') {\n        dep = params[1];\n      } else {\n        dep = params[2];\n      }\n//      return dep && dep.name + '<br/>' + dep.seriesName + ' : ' + dep.value;\n      return dep && dep.name + '<br/>' + dep.seriesName + ' : ' + dep.value + '<br/>' + params[0].seriesName + ' : ' + params[0].value;\n    }\n  },\n  legend: {\n    data: ['Decremento', 'Incremento'],\n    bottom: 0\n  },\n  grid: {\n    left: '3%',\n    right: '4%',\n    bottom: '10%',\n    top: '20%',\n    containLabel: true\n  },\n        toolbox: {\n      show: true,\n        top: '10%',\n        feature: {\n          restore: {},\n          saveAsImage: {},\n          dataView: {},\n          dataZoom: {},\n          magicType: {\n            type: ['line', 'bar', 'stack']\n          },\n        },\n      },\nxAxis: {\n    type: 'category',\n        data: ['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giu', 'Lug', 'Ago', 'Set', 'Ott', 'Nov', 'Dic']\n  },\n  yAxis: {\n    type: 'value'\n  },\n  series: [\n    {\n      name: 'Margine',\n      type: 'line',\n      stack: 'Total',\n      silent: false,\n      emphasis: {\n        itemStyle: {\n          borderColor: 'transparent',\n          color: 'transparent'\n        }\n      },\n      data: [0, 900, 1245, 1530, 1376, 1376, 1511, 1689, 1856, 1495, 1292]\n    },\n    {\n      name: 'Incremento',\n      type: 'bar',\n      stack: 'Total',\n      label: {\n        show: true,\n        position: 'top'\n      },\n      data: [900, 345, 393, '-', '-', 135, 178, 286, '-', '-', '-']\n//      data: [900, 345, 393, 108, 154, 135, 178, 286, 119, 361, 203]\n    },\n    {\n      name: 'Decremento',\n      type: 'bar',\n      stack: 'Total',\n      label: {\n        show: true,\n        position: 'bottom'\n      },\n      data: ['-', '-', '-', 108, 154, '-', '-', '-', 119, 361, 203]\n    }\n  ]\n};\n\nmyChart.setOption(option);\n\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":760,"y":900,"wires":[[]]},{"id":"1f82fa8bf6a33955","type":"ui-template","z":"e0e9613a06881657","g":"03a5c05ab8da4d34","group":"efca6354a670c5c3","page":"","ui":"","name":"Variazione MARGINI 2024","order":6,"width":"6","height":"10","head":"","format":"<!-- template -->\n  <div id=\"varmargin2\"  style=\"width: 600px; height: 500px\"></div>\n<!-- /template -->\n\n\n<script>\n\nvar myChart = echarts.init(document.getElementById('varmargin2'));\n\nvar option = {\n    title: { text: 'Variazione MARGINI 2024', subtext: 'MdC = Ricavi - Costi' },\n  tooltip: {\n    trigger: 'axis',\n    axisPointer: {\n      type: 'shadow'\n    },\n    formatter: function (params) {\n      let dep;\n      if (params[1] && params[1].value !== '-') {\n        dep = params[1];\n      } else {\n        dep = params[2];\n      }\n//      return dep && dep.name + '<br/>' + dep.seriesName + ' : ' + dep.value;\n      return dep && dep.name + '<br/>' + dep.seriesName + ' : ' + dep.value + '<br/>' + params[0].seriesName + ' : ' + params[0].value;\n    }\n  },\n  legend: {\n    data: ['Decremento', 'Incremento'],\n    bottom: 0\n  },\n  grid: {\n    left: '3%',\n    right: '4%',\n    bottom: '10%',\n    top: '20%',\n    containLabel: true\n  },\n\ntoolbox: {\n      show: true,\n        top: '10%',\n        feature: {\n          restore: {},\n          saveAsImage: {},\n          dataView: {},\n          dataZoom: {},\n          magicType: {\n            type: ['line', 'bar', 'stack']\n          },\n        },\n      },\n\n  xAxis: {\n    type: 'category',\n        data: ['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giu', 'Lug', 'Ago', 'Set', 'Ott', 'Nov', 'Dic']\n  },\n  yAxis: {\n    type: 'value'\n  },\n  series: [\n    {\n      name: 'Margine',\n      type: 'line',\n      stack: 'Total',\n      silent: false,\n      emphasis: {\n        itemStyle: {\n          borderColor: 'transparent',\n          color: 'transparent'\n        }\n      },\n      data: [0, 750, 900, 1130, 1058, 1028, 1228, 1498, 1798, 1700, 1690, 1640]\n    },\n    {\n      name: 'Incremento',\n      type: 'bar',\n      stack: 'Total',\n      label: {\n        show: true,\n        position: 'top'\n      },\n      data: [750, 150, 230, '-', '-', 200, 270, 300, '-', '-', '-']\n    },\n    {\n      name: 'Decremento',\n      type: 'bar',\n      stack: 'Total',\n      label: {\n        show: true,\n        position: 'bottom'\n      },\n      data: ['-', '-', '-', 72, 30, '-', '-', '-', 98, 10, 50]\n    }\n  ]\n};\n\nmyChart.setOption(option);\n\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":760,"y":940,"wires":[[]]},{"id":"b148d3f840b8bc13","type":"function","z":"e0e9613a06881657","g":"1c0aa1f21413cb3a","name":"demux","func":"let annoScelto = msg.anno || \"2025\"; \n\nif (Array.isArray(msg.payload)) {\n    let dati = msg.payload;\n\n    let datiPuliti = dati.map(obj => {  //Pulizia caratteri spuri\n        let newObj = {};\n        for (let key in obj) {\n            let cleanKey = key.replace(/[\\uFEFF\\u200B-\\u200D\\u2060]/g, '').trim();\n            let val = obj[key];\n            if (typeof val === 'string') val = val.replace(/[\\uFEFF\\u200B-\\u200D\\u2060]/g, '').trim();\n            newObj[cleanKey] = val;\n        }\n        return newObj;\n    });\n\n    const riga = datiPuliti.find(r => String(r.anno) === String(annoScelto));\n\n    if (riga) {\n        node.status({fill:\"green\", shape:\"dot\", text:\"Visualizzo: \" + annoScelto});\n        const common = { anno_rif: annoScelto };\n\n        return [[  //Il nodo invierà tutti i messaggi in sequenza sulla porta 1 (uscita del nodo function)\n        //Indici REDDITIVITA'\n        { topic: \"ROE\", payload: { valore: parseFloat(riga.ROE), obi: parseFloat(riga.Obi_ROE), label: \"RN / KN\" }, ...common },\n        { topic: \"ROI\", payload: { valore: parseFloat(riga.ROI), obi: parseFloat(riga.Obi_ROI), label: \"RO / KI\" }, ...common },\n        { topic: \"ROS\", payload: { valore: parseFloat(riga.ROS), obi: parseFloat(riga.Obi_ROS), label: \"RO / PLV\" }, ...common },\n        { topic: \"ROD\", payload: { valore: parseFloat(riga.ROD), obi: parseFloat(riga.Obi_ROD), label: \"OF / KT\" }, ...common },\n        //Indici CONTO ECONOMICO\n        { topic: \"PLV\",    payload: { valore: parseFloat(riga.PLV),    obi: parseFloat(riga.Obi_PLV),    label: \"Prod. Lorda Vendibile\" }, ...common },\n        { topic: \"CC\",     payload: { valore: parseFloat(riga.CC),     obi: parseFloat(riga.Obi_CC),     label: \"Costi Correnti\" }, ...common },\n        { topic: \"VA\",     payload: { valore: parseFloat(riga.VA),     obi: parseFloat(riga.Obi_VA),     label: \"Valore Aggiunto\" }, ...common },\n        { topic: \"RN\",     payload: { valore: parseFloat(riga.RN),     obi: parseFloat(riga.Obi_RN),     label: \"Reddito Netto\" }, ...common },\n        { topic: \"EBITDA\", payload: { valore: parseFloat(riga.EBITDA), obi: parseFloat(riga.Obi_EBITDA), label: \"Margine Op. Lordo\" }, ...common },\n        { topic: \"PNA\",    payload: { valore: parseFloat(riga.PNA),    obi: parseFloat(riga.Obi_PNA),    label: \"Prod. Netto Aziendale\" }, ...common },\n        { topic: \"RO\",     payload: { valore: parseFloat(riga.RO),     obi: parseFloat(riga.Obi_RO),     label: \"Reddito Operativo\" }, ...common },\n        { topic: \"DIST\",   payload: { valore: 158.0,                   obi: 200.0,                       label: \"Redditi Distribuiti\" }, ...common },\n        //Indici STATO PATRIMONIALE\n        { topic: \"KF\", payload: { valore: parseFloat(riga.KF), obi: parseFloat(riga.Obi_KF), label: \"Capitale Fisso\" }, ...common },\n        { topic: \"KC\", payload: { valore: parseFloat(riga.KC), obi: parseFloat(riga.Obi_KC), label: \"Capitale Circolante\" }, ...common },\n        { topic: \"KI\", payload: { valore: parseFloat(riga.KI), obi: parseFloat(riga.Obi_KI), label: \"Impieghi Totali\" }, ...common },\n        { topic: \"KN\", payload: { valore: parseFloat(riga.KN), obi: parseFloat(riga.Obi_KN), label: \"Patrimonio Netto\" }, ...common },\n        { topic: \"KT\", payload: { valore: parseFloat(riga.KT), obi: parseFloat(riga.Obi_KT), label: \"Capitale di Terzi\" }, ...common }\n    ]];\n    } else {\n        node.status({fill:\"red\", shape:\"ring\", text:\"Anno \" + annoScelto + \" inesistente sul file\"});\n    }\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":320,"wires":[["65cfc0c2fc8129a4","b6e5182c9139d609","2c243fca853cb5f9","bdcda5f079ed8de8","426171c1f999288d","b88d78cf1f766f19","063ea5ffdabc83f2","d121fb13e732cbd8","78bd10568bc00676"]]},{"id":"537eac833e6af5ef","type":"csv","z":"e0e9613a06881657","g":"1c0aa1f21413cb3a","name":"","spec":"rfc","sep":";","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":450,"y":260,"wires":[["a884bdc995462fd7","b148d3f840b8bc13"]]},{"id":"3d104ba0785b6603","type":"file in","z":"e0e9613a06881657","g":"1c0aa1f21413cb3a","name":"indici-bilancio-anni.csv","filename":"data\\\\demotest\\\\indici-bilancio-anni.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":740,"y":180,"wires":[["537eac833e6af5ef"]]},{"id":"a884bdc995462fd7","type":"debug","z":"e0e9613a06881657","g":"1c0aa1f21413cb3a","name":"debug 15","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":260,"wires":[]},{"id":"f064699ba4ec21c0","type":"inject","z":"e0e9613a06881657","g":"1c0aa1f21413cb3a","name":"Leggi file e anno di default","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"2025","payloadType":"num","x":450,"y":60,"wires":[["e4a3ebba7a60746b","f23e8f29ccaab58d"]]},{"id":"e4a3ebba7a60746b","type":"ui-dropdown","z":"e0e9613a06881657","g":"1c0aa1f21413cb3a","group":"d88756fa67f413ab","name":"Scelta anno esercizio","label":"Scelta anno esercizio:","tooltip":"","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"chips":false,"clearable":true,"options":[{"label":"2025 (Corrente)","value":"2025","type":"str"},{"label":"2024","value":"2024","type":"str"},{"label":"2023","value":"2023","type":"str"},{"label":"2022","value":"2022","type":"str"},{"label":"2021","value":"2021","type":"str"},{"label":"2020","value":"2020","type":"str"},{"label":"2019","value":"2019","type":"str"}],"payload":"","topic":"anno_scelto","topicType":"msg","className":"","typeIsComboBox":true,"msgTrigger":"onChange","x":740,"y":60,"wires":[["54e211e7d55c275b","9f6fd3f63a57e59e"]]},{"id":"b6e5182c9139d609","type":"debug","z":"e0e9613a06881657","g":"1c0aa1f21413cb3a","name":"debug 16","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":340,"wires":[]},{"id":"f23e8f29ccaab58d","type":"debug","z":"e0e9613a06881657","g":"1c0aa1f21413cb3a","name":"debug 17","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":140,"wires":[]},{"id":"54e211e7d55c275b","type":"debug","z":"e0e9613a06881657","name":"debug 18","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":60,"wires":[]},{"id":"9f6fd3f63a57e59e","type":"change","z":"e0e9613a06881657","g":"1c0aa1f21413cb3a","name":"","rules":[{"t":"set","p":"flow.annoSelezionato","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"anno","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":120,"wires":[["3d104ba0785b6603"]]},{"id":"30d8c987ff585b91","type":"inject","z":"e0e9613a06881657","g":"03a5c05ab8da4d34","name":"Start","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":710,"y":1020,"wires":[["12b9371894d67f31","32359fb6b629826f","19b8448e16138c84"]]},{"id":"12b9371894d67f31","type":"file in","z":"e0e9613a06881657","g":"03a5c05ab8da4d34","name":"produzione_settori.csv","filename":"data\\\\demotest\\\\produzione_settori.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":940,"y":1020,"wires":[["fce1012392c86f1c"]]},{"id":"fce1012392c86f1c","type":"csv","z":"e0e9613a06881657","g":"03a5c05ab8da4d34","name":"CSV prod. settori","spec":"rfc","sep":";","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":1190,"y":1020,"wires":[["fc1d8139f215f9b6"]]},{"id":"32359fb6b629826f","type":"file in","z":"e0e9613a06881657","g":"03a5c05ab8da4d34","name":"dettaglio_frutta.csv","filename":"data\\\\demotest\\\\dettaglio_frutta.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":950,"y":1080,"wires":[[]]},{"id":"19b8448e16138c84","type":"file in","z":"e0e9613a06881657","g":"03a5c05ab8da4d34","name":"dettaglio_ortaggi.csv","filename":"data\\\\demotest\\\\dettaglio_ortaggi.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":940,"y":1140,"wires":[[]]},{"id":"1630ac1003394166","type":"ui-template","z":"e0e9613a06881657","d":true,"group":"","page":"9736bce211ee82ac","ui":"","name":"Importazione CDN di (e)chart.js","order":1,"width":0,"height":0,"head":"","format":"<script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n<script type=\"text/javascript\" src=\"https://fastly.jsdelivr.net/npm/echarts@6.0.0/dist/echarts.min.js\"></script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":1070,"y":180,"wires":[[]]},{"id":"3534a1b8abb5cbf2","type":"comment","z":"e0e9613a06881657","g":"03a5c05ab8da4d34","name":"Controllo di gestione","info":"","x":730,"y":760,"wires":[]},{"id":"1df08717a00569bc","type":"comment","z":"74a3052ef3176e1c","g":"2755769613e603d3","name":"Cards box","info":"","x":100,"y":700,"wires":[]},{"id":"eb610c5482111bca","type":"ui-template","z":"74a3052ef3176e1c","g":"2755769613e603d3","group":"d69657ffca0d886c","page":"","ui":"","name":"Preventivi","order":1,"width":"3","height":"3","head":"","format":"<template>\n  <v-card\n    class=\"mx-auto\"\n    width=\"75%\"\n    color=\"#eff6ff\">\n\n    <v-card-text>\n      <p class=\"text-h6 text--primary text-center\">\n        Preventivi\n      </p>\n      <p class=\"text-h5 text--primary text-center\">\n        12\n      </p>\n    </v-card-text>\n\n\t<v-sparkline class=\"nrdb-ui-sparkline\" :auto-line-width=\"false\" :fill=\"false\"\n\t\t:gradient=\"gradient\"\n\t\t:gradient-direction=\"'top'\" :line-width=\"3\" :model-value=\"value2\" :padding=\"8\"\n\t\t:smooth=\"10\" :stroke-linecap=\"'round'\" :type=\"'trend'\" auto-draw>\n\t</v-sparkline>\n\n  </v-card>\n</template>\n\n<script>\n  export default {\n    data: function () {\n      return {\n        gradient: ['#04f104', '#ffd200', '#f70000'],\n        value2: [0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0]\n      }\n    },\n  }\n</script>\n\n<style>\n  .v-sheet--offset {\n    /*top: -24px;*/\n    position: relative;\n  }\n  .nrdb-ui-sparkline path {\n    stroke-dasharray: 0 !important;\n  }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":260,"y":700,"wires":[[]]},{"id":"43471e3019976c09","type":"ui-template","z":"74a3052ef3176e1c","g":"2755769613e603d3","group":"d69657ffca0d886c","page":"","ui":"","name":"Ordini","order":2,"width":"3","height":"3","head":"","format":"<template>\n  <v-card\n    class=\"mx-auto\"\n    width=\"75%\"\n    color=\"#fff7ed\">\n\n    <v-card-text>\n      <p class=\"text-h5 text--primary text-center\">\n        Ordini\n      </p>\n      <p class=\"text-h4 text--primary text-center\">\n        9\n      </p>\n      <div class=\"text--primary text-center\">\n        Actual + Forecast\n      </div>\n    </v-card-text>\n    <v-card-actions>\n      <v-btn\n        text\n        color=\"teal accent-4\"\n        @click=\"reveal = true\">\n        Obi 20: Vis. progresso\n      </v-btn>\n    </v-card-actions>\n\n    <v-expand-transition>\n      <v-card\n        v-if=\"reveal\"\n        class=\"transition-fast-in-fast-out v-card--reveal\"\n        style=\"height: 100%;\">\n        <v-card-text class=\"pb-0\">\n          <div class=\"text-center\">\n\t\t\t  <v-progress-circular\n\t\t\t\t:rotate=\"-90\"\n\t\t\t\t:size=\"100\"\n\t\t\t\t:width=\"15\"\n\t\t\t\t:value=\"45\"\n\t\t\t\tcolor=\"blue\">\n\t\t\t\t45%\n\t\t\t  </v-progress-circular>\n          </div>\n        </v-card-text>\n        <v-card-actions class=\"pt-0\">\n          <v-btn\n            text\n            color=\"teal-accent-4\"\n            @click=\"reveal = false\">\n            Close\n          </v-btn>\n        </v-card-actions>\n      </v-card>\n    </v-expand-transition>\n  </v-card>\n</template>\n\n<script>\n  export default {\n    data: () => ({\n      reveal: false,\n    }),\n  }\n</script>\n\n<style>\n.v-card--reveal {\n  bottom: 0;\n  opacity: 1 !important;\n  position: absolute;\n  width: 100%;\n}\n.v-sheet--offset {\n  /*top: -24px;*/\n  position: relative;\n}\n.v-progress-circular {\n  margin: 1rem;\n}\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":410,"y":700,"wires":[[]]},{"id":"a19d3bf17497d89d","type":"ui-template","z":"74a3052ef3176e1c","g":"2755769613e603d3","group":"d69657ffca0d886c","page":"","ui":"","name":"Ricavi","order":3,"width":"3","height":"3","head":"","format":"<template>\n  <v-card\n    class=\"mx-auto\"\n    width=\"75%\"\n    color=\"#fff7ed\">\n\n    <v-card-text>\n      <p class=\"text-h5 text--primary text-center\">\n        Ricavi\n      </p>\n      <p class=\"text-h4 text--primary text-center\">\n        €53,4k\n      </p>\n      <div class=\"text--primary text-center\">\n        Actual + Forecast\n      </div>\n    </v-card-text>\n    <v-card-actions>\n      <v-btn\n        text\n        color=\"teal accent-4\"\n        @click=\"reveal = true\">\n        Obi €85k: Vis. progresso\n      </v-btn>\n    </v-card-actions>\n\n    <v-expand-transition>\n      <v-card\n        v-if=\"reveal\"\n        class=\"transition-fast-in-fast-out v-card--reveal\"\n        style=\"height: 100%;\">\n        <v-card-text class=\"pb-0\">\n          <div class=\"text-center\">\n\t\t\t  <v-progress-circular\n\t\t\t\t:rotate=\"-90\"\n\t\t\t\t:size=\"100\"\n\t\t\t\t:width=\"15\"\n\t\t\t\t:value=\"63\"\n\t\t\t\tcolor=\"blue\">\n\t\t\t\t63%\n\t\t\t  </v-progress-circular>\n          </div>\n        </v-card-text>\n        <v-card-actions class=\"pt-0\">\n          <v-btn\n            text\n            color=\"teal-accent-4\"\n            @click=\"reveal = false\">\n            Close\n          </v-btn>\n        </v-card-actions>\n      </v-card>\n    </v-expand-transition>\n  </v-card>\n</template>\n\n<script>\n  export default {\n    data: () => ({\n      reveal: false,\n    }),\n  }\n</script>\n\n<style>\n.v-card--reveal {\n  bottom: 0;\n  opacity: 1 !important;\n  position: absolute;\n  width: 100%;\n}\n.v-sheet--offset {\n  /*top: -24px;*/\n  position: relative;\n}\n.v-progress-circular {\n  margin: 1rem;\n}\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":550,"y":700,"wires":[[]]},{"id":"17ebfac71119c802","type":"ui-template","z":"74a3052ef3176e1c","g":"2755769613e603d3","group":"d69657ffca0d886c","page":"","ui":"","name":"Ordine medio","order":4,"width":"3","height":"3","head":"","format":"<template>\n  <v-card class=\"mx-auto\" width=\"75%\" color=\"#eff6ff\">\n\n    <v-card-text>\n      <p class=\"text-h6 text--primary text-center\">\n        Ordine medio\n      </p>\n      <p class=\"text-h5 text--primary text-center\">\n        €21.5k\n      </p>\n    </v-card-text>\n\n    <v-sparkline class=\"nrdb-ui-sparkline\" :auto-line-width=\"false\" :fill=\"false\" :gradient=\"gradient\"\n      :gradient-direction=\"'top'\" :line-width=\"3\" :model-value=\"value2\" :padding=\"8\" :smooth=\"10\"\n      :stroke-linecap=\"'round'\" :type=\"'trend'\" auto-draw>\n    </v-sparkline>\n\n  </v-card>\n</template>\n\n<script>\n  export default {\n    data: function () {\n      return {\n        gradient: ['#04f104', '#ffd200', '#f70000'],\n        value2: [0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8, 2, 9, 0]\n      }\n    },\n  }\n</script>\n\n<style>\n  .v-sheet--offset {\n    /*top: -24px;*/\n    position: relative;\n  }\n\n  .nrdb-ui-sparkline path {\n    stroke-dasharray: 0 !important;\n  }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":700,"y":700,"wires":[[]]},{"id":"836d6588fda1b280","type":"comment","z":"74a3052ef3176e1c","g":"69f5e45e9bfd50e9","name":"Vendite grafici (periodo)","info":"","x":720,"y":360,"wires":[]},{"id":"b0f26f9d06fb9fff","type":"ui-template","z":"74a3052ef3176e1c","g":"69f5e45e9bfd50e9","group":"bde8e0691e30582e","page":"","ui":"","name":"Vendite frutta (2019-2025)","order":1,"width":"6","height":"1","head":"","format":"<template>\n    <h3 class=\"text-h5 text--primary text-center\">Vendite frutta (2019-2025)</h3>\n    <div ref=\"chart_vefr_02\" style=\"width: 600px; height: 500px\"></div>\n</template>\n\n<script>\n\nexport default {\n    data() {\n        return {\n            myChart: null,\n            defaultSource: [\n                ['product', '2019', '2020', '2021', '2022', '2023', '2024', '2025'],\n                ['Mele delizia', 53.3, 56.5, 82.1, 88.7, 70.1, 53.4, 85.1],\n                ['Mele renetta', 32.2, 51.1, 51.4, 55.1, 53.3, 73.8, 68.7],\n                ['Albicocche', 67.4, 48.1, 32.2, 89.5, 56.4, 49.2, 82.5],\n                ['Fichi', 70.1, 40.1, 62.2, 69.5, 36.4, 45.2, 32.5],\n                ['Pere', 22.4, 54.1, 32.2, 43.5, 67.4, 45.2, 40.5],\n                ['Pesche', 45.2, 25.2, 37.1, 41.2, 18, 33.9, 49.1]\n            ]\n        }\n    },\n    \n    mounted() {\n        let interval = setInterval(() => {\n            if (window.echarts) {\n                clearInterval(interval);\n                this.initChart();\n            }\n        }, 100);\n        \n        window.addEventListener('resize', this.onResize);\n    },\n\n    beforeUnmount() {\n        if (this.myChart) {\n            window.removeEventListener('resize', this.onResize);\n            this.myChart.off('updateAxisPointer');\n            this.myChart.dispose();\n        }\n    },\n\n    methods: {\n        initChart: function () {\n            this.myChart = echarts.init(this.$refs.chart_vefr_02, null, {\n                renderer: 'canvas',  // Il rendering engine \"canvas\" è indicato per grafici complessi o maggiore reattività, mentre SVG richiede meno memoria (p. es. mobile); Rif.: https://apache.github.io/echarts-handbook/en/best-practices/canvas-vs-svg/\n                locale: 'it' // Il locale italiano della libreria Echarts è registrato globalmente dal nodo di importazione librerie con scope applicativo\n            });\n\n            //Listener per interazione con il grafico\n            this.myChart.on('updateAxisPointer', this.updatePieChart);\n\n            //Dati statici iniziali\n            this.applyEchartsOption(this.defaultSource);\n        },\n\n        updatePieChart: function (event) {\n            const xAxisInfo = event.axesInfo[0];\n            if (xAxisInfo) {\n                const dimension = xAxisInfo.value + 1; //Colonna 'product' esclusa\n                \n                this.myChart.setOption({\n                    series: {\n                        id: 'pie',\n                        label: {\n                            formatter: '{b}: {@[' + dimension + ']} ({d}%)'\n                        },\n                        encode: {\n                            value: dimension,\n                            tooltip: dimension\n                        }\n                    }\n                });\n            }\n        },\n\n        updateChart: function (msg) {\n            if (msg && msg.payload && Array.isArray(msg.payload) && msg.payload.length > 0) {\n                this.applyEchartsOption(msg.payload);\n            } else {\n                 console.warn(\"Messaggio ricevuto ma formato payload non valido per Echarts dataset.\");\n            }\n        },\n\n        applyEchartsOption: function (sourceData) {\n            const numLines = sourceData.length - 1; \n            const series = [];\n\n            for (let i = 0; i < numLines; i++) {\n                series.push({\n                    type: 'line',\n                    smooth: true,\n                    seriesLayoutBy: 'row',\n                    emphasis: { focus: 'series' }\n                });\n            }\n\n            series.push({\n                type: 'pie',\n                id: 'pie',\n                radius: '30%',\n                center: ['50%', '25%'],\n                emphasis: { focus: 'self' },\n                label: {\n                    formatter: '{b}: {@' + sourceData[0][sourceData[0].length - 1] + '} ({d}%)' \n                },\n                encode: {\n                    itemName: 'product',\n                    value: sourceData[0][sourceData[0].length - 1],\n                    tooltip: sourceData[0][sourceData[0].length - 1]\n                }\n            });\n\n            const option = {\n                legend: {},\n                tooltip: {\n                    trigger: 'axis',\n                    showContent: false\n                },\n                toolbox: { \n                    show: true, \n                    feature: { \n                        restore: {}, saveAsImage: {}, dataView: {}, dataZoom: {}, \n                        magicType: { type: ['line', 'bar', 'stack'] } \n                    } \n                },\n                dataset: {\n                    source: sourceData\n                },\n                xAxis: { type: 'category' },\n                yAxis: { gridIndex: 0 },\n                grid: { top: '55%' },\n                series: series\n            };\n\n            this.myChart.setOption(option, true);\n        },\n\n        onResize() {\n            if (this.myChart) this.myChart.resize();\n        }\n    },\n\n    watch: {\n        msg(newMsg) {\n            if (this.myChart) {\n                this.updateChart(newMsg);\n            }\n        }\n    }\n}\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"text-h1 text--primary text-center","x":450,"y":520,"wires":[[]]},{"id":"35a45d0e7eed4d5c","type":"ui-template","z":"74a3052ef3176e1c","g":"69f5e45e9bfd50e9","group":"bde8e0691e30582e","page":"","ui":"","name":"Vendite verdura e ortaggi (2019-2025)","order":2,"width":"6","height":"1","head":"","format":"<!-- template -->\n  <h3 class=\"text-h5 text--primary text-center\">Vendite verdura e ortaggi (2019-2025)</h3>\n    <!-- div ref=\"charttpw\" style=\"width: 600px; height: 500px\"></div -->\n\n<div id=\"container2\"  style=\"width: 600px; height: 500px\"></div>\n\n\n<!-- /template -->\n\n<!-- GLR.Sost script type=\"text/javascript\" src=\"https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js\"></script -->\n<!-- script type=\"text/javascript\" src=\"https://fastly.jsdelivr.net/npm/echarts@6.0.0/dist/echarts.min.js\"></script -->\n<!-- script src=\"https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js\"></script -->\n\n<script>\n\n    var dom = document.getElementById('container2');\n    var myChart = echarts.init(dom, null, {\n      renderer: 'canvas',  // Il rendering engine \"canvas\" è indicato per grafici complessi o maggiore reattività, mentre SVG richiede meno memoria (p. es. mobile); Rif.: https://apache.github.io/echarts-handbook/en/best-practices/canvas-vs-svg/\n      locale: 'it' // Il locale italiano della libreria Echarts è registrato globalmente dal nodo di importazione librerie con scope applicativo\n    });\n    var app = {};\n    \n    var option;\n\n    setTimeout(function () {\n  option = {\n    legend: {},\n    tooltip: {\n      trigger: 'axis',\n      showContent: false\n    },\n    toolbox: {\n    show: true,\n    feature: {\n    saveAsImage: {},\n    dataView: {},\n    dataZoom: {},\n    magicType: {\n    type: ['line', 'bar', 'stack']\n    },\n    },\n    },\n    dataset: {\n      source: [\n        ['product', '2019', '2020', '2021', '2022', '2023', '2024', '2025'],\n        ['Patate', 45.2, 56.5, 82.1, 88.7, 70.1, 53.4, 85.1],\n        ['Pomodori', 57.0, 51.1, 51.4, 55.1, 53.3, 73.8, 68.7],\n        ['finocchi', 31.4, 48.1, 32.2, 89.5, 56.4, 49.2, 82.5],\n        ['Rape', 51.9, 40.1, 62.2, 69.5, 36.4, 45.2, 32.5],\n        ['Insalata', 33.6, 54.1, 32.2, 43.5, 67.4, 45.2, 40.5],\n        ['Verze', 29.4, 45.2, 61.1, 41.2, 35.7, 15.3, 25],\n        ['Melanzane', 97.6, 86.2, 75.1, 46.2, 30.3, 53.9, 69.1]\n      ]\n    },\n    xAxis: { type: 'category' },\n    yAxis: { gridIndex: 0 },\n    grid: { top: '55%' },\n    series: [\n      {\n        type: 'line',\n        smooth: true,\n        seriesLayoutBy: 'row',\n        emphasis: { focus: 'series' }\n      },\n      {\n        type: 'line',\n        smooth: true,\n        seriesLayoutBy: 'row',\n        emphasis: { focus: 'series' }\n      },\n      {\n        type: 'line',\n        smooth: true,\n        seriesLayoutBy: 'row',\n        emphasis: { focus: 'series' }\n      },\n      {\n        type: 'line',\n        smooth: true,\n        seriesLayoutBy: 'row',\n        emphasis: { focus: 'series' }\n      },\n      {\n        type: 'line',\n        smooth: true,\n        seriesLayoutBy: 'row',\n        emphasis: { focus: 'series' }\n      },\n      {\n        type: 'line',\n        smooth: true,\n        seriesLayoutBy: 'row',\n        emphasis: { focus: 'series' }\n      },\n      {\n        type: 'line',\n        smooth: true,\n        seriesLayoutBy: 'row',\n        emphasis: { focus: 'series' }\n      },\n      {\n        type: 'pie',\n        id: 'pie',\n        radius: '30%',\n        center: ['50%', '25%'],\n        emphasis: {\n          focus: 'self'\n        },\n        label: {\n          formatter: '{b}: {@2025} ({d}%)'\n        },\n        encode: {\n          itemName: 'product',\n          value: '2025',\n          tooltip: '2025'\n        }\n      }\n    ]\n  };\n  myChart.on('updateAxisPointer', function (event) {\n    const xAxisInfo = event.axesInfo[0];\n    if (xAxisInfo) {\n      const dimension = xAxisInfo.value + 1;\n      myChart.setOption({\n        series: {\n          id: 'pie',\n          label: {\n            formatter: '{b}: {@[' + dimension + ']} ({d}%)'\n          },\n          encode: {\n            value: dimension,\n            tooltip: dimension\n          }\n        }\n      });\n    }\n  });\n  myChart.setOption(option);\n});\n\n    if (option && typeof option === 'object') {\n      myChart.setOption(option);\n    }\n\n    window.addEventListener('resize', myChart.resize);\n\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":410,"y":600,"wires":[[]]},{"id":"97636ef0aec1b740","type":"ui-template","z":"74a3052ef3176e1c","g":"69f5e45e9bfd50e9","group":"035ed36164d77602","page":"","ui":"","name":"Vendite frutta (2025)","order":1,"width":"6","height":"1","head":"","format":"<template>\n    <h3 class=\"text-h5 text--primary text-center\">Analisi Vendite Frutta 2025</h3>\n    <div ref=\"venfru01\" style=\"width: 600px; height: 50vh\"></div>\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                myChart: null\n            }\n        },\n        \n        // Attesa di Echarts e inizializzazione nella componente\n        mounted() {\n            // Al montaggio della componente deve inizializzarsi l'istanza locale\n            // (quando la libreria Echarts è completamente caricata) \n            let interval = setInterval(() => {\n                if (window.echarts) {\n                    clearInterval(interval);\n                    this.initChart();  //Inizializzazione\n                }\n            }, 100);\n            \n            // Listener per l'evento resize del container\n            window.addEventListener('resize', this.onResize);\n\n        },\n\n        methods: { //Metodi dell'oggetto (no syntactic sugar \"class\" di ECMAScript 2015, JavaScript ES6)\n            initChart: function () { //Inizializzazione effettiva dell'istanza grafica (nella DIV contenitore \"venfru01\" del Template)\n                this.myChart = echarts.init(this.$refs.venfru01, null, { // Si specifica null per non selezionare un tema specifico\n                    renderer: 'canvas',  // Il rendering engine \"canvas\" è indicato per grafici complessi o maggiore reattività, mentre SVG richiede meno memoria (p. es. mobile); Rif.: https://apache.github.io/echarts-handbook/en/best-practices/canvas-vs-svg/\n                    locale: 'it' // Il locale italiano della libreria Echarts è registrato globalmente dal nodo di importazione librerie con scope applicativo\n                });\n\n                // Dati demo statici per caricamento di default (iniziale)\n                /*const datiDemo = {\n                    mesi: ['Gen', 'Feb', 'Mar', 'Apr', 'Mag', 'Giu', 'Lug', 'Ago', 'Set', 'Ot', 'Nov', 'Dic'],\n                    frutta: [\n                        { name: 'Mele delizia', data: [0, 0, 0, 0, 0, 65, 96, 91, 110, 84, 23, 10], type: 'line' },\n                        { name: 'Mele renetta', data: [0, 0, 0, 0, 0, 10, 35, 87, 95, 78, 33, 9], type: 'line' },\n                        { name: 'Albicocche', data: [0, 0, 0, 0, 0, 0, 18, 45, 158, 111, 23, 0], type: 'line' },\n                        { name: 'Fichi', data: [50, 32, 8, 0, 0, 0, 0, 0, 11, 97, 168, 120], type: 'line' },\n                        { name: 'Pere', data: [50, 32, 8, 0, 0, 0, 0, 0, 67, 98, 145, 43], type: 'line' },\n                        { name: 'Pesche', data: [0, 0, 0, 0, 0, 0, 22, 56, 145, 49, 10, 4], type: 'line' }\n                    ]\n                };\n                \n                // Caricamento iniziale Dati demo statici nel grafico\n                this.applyEchartsOption(datiDemo);*/\n\n            },\n\n            updateChart: function (msg) {\n                if (msg && msg.payload && msg.payload.mesi && msg.payload.frutta) {\n                    \n                    //Elimina l'istanza precedente\n                    if (this.myChart && this.myChart.isDisposed() === false) {\n                        this.myChart.dispose();\n                        this.myChart = null;\n                    }\n\n                    //Ritardo di inizializzare nuova istanza (per ricalcolo dimensioni della div 'venfru01')\n                    setTimeout(() => {\n                        this.myChart = echarts.init(this.$refs.venfru01, null, {\n                            renderer: 'canvas',\n                            locale: 'it'\n                        });\n\n                        this.applyEchartsOption(msg.payload);\n                        \n                        this.myChart.resize();\n                    }, 50); // 50ms possono risolvere i glitch visivi\n                    \n                }\n            },\n\n            applyEchartsOption: function (datiIn) {\n                const serieMsg = datiIn.frutta.map(item => {\n                    return {\n                        name: item.name || 'Senza nome',\n                        type: item.type || 'line',\n                        data: item.data,\n                        emphasis: { focus: 'series' }\n                    };\n                });\n\n                const option = {\n                    tooltip: {\n                        trigger: 'axis',\n                        backgroundColor: 'rgba(255, 255, 255, 0.95)',\n                        padding: 10,\n                        extraCssText: 'box-shadow: 0 0 8px rgba(0,0,0,0.2); border-radius: 4px;',\n                        formatter: function (params) {\n                            let res = `<div style=\"margin-bottom:5px; font-weight:bold; color:#666; border-bottom:1px solid #eee; padding-bottom:3px;\">${params[0].name}</div>`;\n                            res += `<table style=\"width:100%; min-width:160px; border-collapse:collapse;\">`;\n                            params.forEach(item => {\n                                res += `\n                                    <tr>\n                                        <td style=\"padding:3px 0; text-align:left;\">\n                                            ${item.marker} <span style=\"color:#333; margin-left:5px;\">${item.seriesName}</span>\n                                        </td>\n                                        <td style=\"padding:3px 0; text-align:right; font-weight:bold; padding-left:20px; color:#000;\">\n                                            ${item.value} k€\n                                        </td>\n                                    </tr>`;\n                            });\n                            res += `</table>`;\n                            return res;\n                        }\n                    },\n\n                    legend: { top: 0, padding: [5, 10] },\n\n                    grid: {\n                        left: '3%',\n                        right: '4%',\n                        bottom: '12%', \n                        containLabel: true\n                    },\n\n                    dataZoom: [\n                        {\n                            type: 'slider',\n                            show: true,\n                            xAxisIndex: [0],\n                            start: 0,\n                            end: 100,\n                            bottom: 5,\n                            height: 20\n                        },\n                        {\n                            type: 'inside', // Attiva zoom con rotellina mouse\n                            xAxisIndex: [0]\n                        }\n                    ],\n\n                    toolbox: {\n                        show: true,\n                        top: 25,\n                        right: 10,\n                        itemGap: 15,\n                        feature: {\n                            dataView: {\n                                show: true,\n                                readOnly: false,\n                                title: 'Tabella Dati',\n                                lang: ['Dati Vendite', 'Chiudi', 'Aggiorna'],\n                                optionToContent: function(opt) {\n                                    let axisData = opt.xAxis[0].data;\n                                    let series = opt.series;\n                                    let table = '<div class=\"selectable-table-container\"><table class=\"echarts-view-table\"><thead><tr><th>Frutto</th>';\n                                    axisData.forEach(m => { table += `<th>${m}</th>`; });\n                                    table += '</tr></thead><tbody>';\n                                    series.forEach(s => {\n                                        table += `<tr><td style=\"text-align:left; font-weight:bold;\">${s.name}</td>`;\n                                        s.data.forEach(v => { table += `<td>${v}</td>`; });\n                                        table += '</tr>';\n                                    });\n                                    table += '</tbody></table></div>';\n                                    return table;\n                                }\n                            },\n                            myExportCsv: {\n                                show: true,\n                                title: 'Esporta CSV',\n                                icon: 'path://M14,2L20,8V20A2,2 0 0,1 18,22H6A2,2 0 0,1 4,20V4A2,2 0 0,1 6,2H14M18,20V9H13V4H6V20H18M12,19L8,15H10.5V12H13.5V15H16L12,19Z',\n                                onclick: () => {\n                                    let csv = 'Prodotto;' + datiIn.mesi.join(';') + '\\n';\n                                    datiIn.frutta.forEach(f => { csv += f.name + ';' + f.data.join(';') + '\\n'; });\n                                    const blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });\n                                    const link = document.createElement(\"a\");\n                                    link.href = URL.createObjectURL(blob);\n                                    link.setAttribute(\"download\", \"vendite_frutta.csv\");\n                                    link.click();\n                                }\n                            },\n                            magicType: { type: ['line', 'bar', 'stack'] },\n                            restore: {},\n                            saveAsImage: {}\n                        }\n                    },\n\n                    xAxis: {\n                        type: 'category',\n                        boundaryGap: true,\n                        data: datiIn.mesi\n                    },\n                    yAxis: {\n                        type: 'value',\n                        name: 'k€'\n                    },\n                    series: serieMsg\n                };\n\n                this.myChart.setOption(option, true);\n                setTimeout(() => { if(this.myChart) this.myChart.resize(); }, 200);\n            },\n\n\n            onResize() {\n                if (this.myChart) this.myChart.resize();\n            }\n        },\n\n        //Watcher dei messaggi input\n        watch: {\n            msg(newMsg) {\n                if (this.myChart) {\n                    this.updateChart(newMsg);\n                }\n            }\n        }\n    }\n\n</script>\n\n\n<style>\n    /*Attivazione della selezione di testo in tabella DataView */\n    .selectable-table-container {\n        user-select: text !important;\n        -webkit-user-select: text !important;\n        cursor: auto;\n    }\n\n    .echarts-view-table {\n        width: 100%;\n        border-collapse: collapse;\n        font-family: sans-serif;\n        font-size: 13px;\n    }\n\n    .echarts-view-table th {\n        background-color: #f8f9fa;\n        border: 1px solid #dee2e6;\n        padding: 8px;\n        position: sticky;\n        top: 0;\n    }\n\n    .echarts-view-table td {\n        border: 1px solid #dee2e6;\n        padding: 6px;\n        text-align: right;\n    }\n\n    .echarts-view-table td:first-child {\n        text-align: left;\n        font-weight: bold;\n    }\n\n    /*Rimedio per la sovrapposizione delle icone in Dashboard*/\n    .selectable-table-container table tr:nth-child(even) {\n        background-color: #fafafa;\n    }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":280,"y":400,"wires":[["d7bf8d06ab21bf32"]]},{"id":"d7bf8d06ab21bf32","type":"debug","z":"74a3052ef3176e1c","g":"69f5e45e9bfd50e9","name":"debug 9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":400,"wires":[]},{"id":"4718ff0c8993220d","type":"inject","z":"74a3052ef3176e1c","g":"69f5e45e9bfd50e9","name":"Dati Frutta JSON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[     [\"product\", \"2023\", \"2024\", \"2025\", \"2026\", \"2027\"],     [\"Mele delizia\", 60.5, 70.1, 75.2, 80.8, 90.1],     [\"Mele renetta\", 45.1, 55.4, 65.3, 75.7, 85.0],     [\"Albicocche\", 80.2, 70.9, 60.1, 50.4, 40.5],     [\"Fichi\", 30.1, 40.5, 50.8, 60.3, 70.2],     [\"Pere\", 50.0, 50.0, 50.0, 50.0, 50.0],     [\"Pesche\", 75.9, 65.4, 55.3, 45.2, 35.1] ]","payloadType":"json","x":140,"y":520,"wires":[["b0f26f9d06fb9fff"]]},{"id":"c672a400940a553d","type":"ui-template","z":"74a3052ef3176e1c","group":"","page":"a19fed6ca980232a","ui":"","name":"Importazione CDN di Echart.js + i18n/langIT","order":1,"width":0,"height":0,"head":"","format":"<!-- script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script -->\n\n<script type=\"text/javascript\" src=\"https://fastly.jsdelivr.net/npm/echarts@6.0.0/dist/echarts.min.js\"></script>\n\n<script type=\"text/javascript\" src=\"https://fastly.jsdelivr.net/npm/echarts@6.0.0/i18n/langIT.js\"></script>\n\n<script>\n    setTimeout(() => {\n        if (window.echarts) {\n            console.log(\"Echarts v6.0.0 e Locale italiano sono stati caricati globalmente.\");\n        } else {\n            console.error(\"Libreria Echarts v6.0.0 non disponibile.\");\n        }\n    }, 500);\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":190,"y":60,"wires":[[]]},{"id":"9fd3760699abeb25","type":"csv","z":"74a3052ef3176e1c","g":"a4bedbe0596cf8be","name":"","spec":"rfc","sep":";","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":530,"y":180,"wires":[["06497366b0cba79f","10989fecc0f0d9ad"]]},{"id":"d8581f2fa16be8a8","type":"file in","z":"74a3052ef3176e1c","g":"a4bedbe0596cf8be","name":"Vendite_frutta_2025_chartA.csv","filename":"data\\\\demotest\\\\Vendite_frutta_2025_chartA.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":210,"y":220,"wires":[["9fd3760699abeb25"]]},{"id":"06497366b0cba79f","type":"debug","z":"74a3052ef3176e1c","g":"a4bedbe0596cf8be","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":180,"wires":[]},{"id":"3ac5c069daf47dba","type":"inject","z":"74a3052ef3176e1c","g":"a4bedbe0596cf8be","name":"Read file","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"date","x":120,"y":160,"wires":[["d8581f2fa16be8a8"]]},{"id":"10989fecc0f0d9ad","type":"function","z":"74a3052ef3176e1c","g":"a4bedbe0596cf8be","name":"function 8","func":"const rows = msg.payload;\n\nif (!rows || rows.length === 0) return null;\nconst keys = Object.keys(rows[0]);\n\nconst labelColumn = keys[0];\nconst typeColumn = keys[1];\nconst mesiKeys = keys.slice(2);\nconst frutta = rows.map(row => {\n\nconst dataValues = mesiKeys.map(meseKey => {\n    let val = row[meseKey];\n    if (typeof val === 'string') {\n        val = val.replace(',', '.').trim();\n    }\n    return parseFloat(val) || 0;\n});\n\nreturn {\n    name: row[labelColumn],\n    type: row[typeColumn] || 'line',\n    data: dataValues\n};\n});\n\nmsg.payload = {\n    mesi: mesiKeys,\n    frutta: frutta\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":240,"wires":[["97636ef0aec1b740","d254bed663c66166"]]},{"id":"d254bed663c66166","type":"debug","z":"74a3052ef3176e1c","name":"debug 11","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":260,"wires":[]},{"id":"807d583c7ab7f7c1","type":"ui-template","z":"74a3052ef3176e1c","g":"69f5e45e9bfd50e9","group":"035ed36164d77602","page":"","ui":"","name":"Vendite ortaggi (2025)","order":2,"width":"6","height":"1","head":"","format":"<template>\n    <h3 class=\"text-h5 text--primary text-center\">Analisi Vendite Ortaggi 2025</h3>\n    <div ref=\"venort01\" style=\"width: 600px; height: 50vh\"></div>\n</template>\n\n<script>\n    export default {\n        data() {\n            return { myChart: null }\n        },\n        mounted() {\n            let interval = setInterval(() => {\n                if (window.echarts) {\n                    clearInterval(interval);\n                    this.initChart();\n                }\n            }, 100);\n            window.addEventListener('resize', this.onResize);\n        },\n        methods: {\n            initChart: function () {\n                this.myChart = echarts.init(this.$refs.venort01, null, { renderer: 'canvas', locale: 'it' });\n            },\n            updateChart: function (msg) {\n                if (msg && msg.payload && msg.payload.mesi) {\n                    if (this.myChart) { this.myChart.dispose(); }\n                    setTimeout(() => {\n                        this.myChart = echarts.init(this.$refs.venort01, null, { renderer: 'canvas', locale: 'it' });\n                        this.applyOptions(msg.payload);\n                    }, 50);\n                }\n            },\n            applyOptions: function (d) {\n                const option = {\n                    tooltip: {\n                        trigger: 'axis',\n                        backgroundColor: 'rgba(255,255,255,0.98)',\n                        formatter: (params) => {\n                            let res = `<div style=\"font-weight:bold; border-bottom:1px solid #ddd; margin-bottom:5px;\">${params[0].name}</div>`;\n                            res += `<table style=\"width:180px;\">`;\n                            params.forEach(p => {\n                                res += `<tr><td>${p.marker} ${p.seriesName}</td><td style=\"text-align:right; font-weight:bold;\">${p.value} k€</td></tr>`;\n                            });\n                            return res + `</table>`;\n                        }\n                    },\n                    legend: { top: 0 },\n                    grid: { left: '3%', right: '4%', bottom: '12%', containLabel: true },\n                    dataZoom: [{ type: 'slider', height: 20, bottom: 10 }, { type: 'inside' }],\n                    toolbox: {\n                        show: true,\n                        top: 25,\n                        right: 10,\n                        itemGap: 12,\n                        feature: {\n                            dataView: { \n                                show: true, \n                                readOnly: false,\n                                optionToContent: (opt) => {\n                                    let axisData = opt.xAxis[0].data;\n                                    let series = opt.series;\n                                    let table = '<div class=\"selectable-table-container\"><table class=\"ui-table\"><thead><tr><th>Ortaggio</th>';\n                                    axisData.forEach(m => { table += `<th>${m}</th>`; });\n                                    table += '</tr></thead><tbody>';\n                                    series.forEach(s => {\n                                        table += `<tr><td style=\"text-align:left; font-weight:bold;\">${s.name}</td>`;\n                                        s.data.forEach(v => { table += `<td>${v}</td>`; });\n                                        table += '</tr>';\n                                    });\n                                    return table + '</tbody></table></div>';\n                                }\n                            },\n                            myExportCsv: {\n                                show: true,\n                                title: 'Download CSV',\n                                icon: 'path://M14,2L20,8V20A2,2 0 0,1 18,22H6A2,2 0 0,1 4,20V4A2,2 0 0,1 6,2H14M18,20V9H13V4H6V20H18M12,19L8,15H10.5V12H13.5V15H16L12,19Z',\n                                onclick: () => {\n                                    let csv = 'Ortaggio;' + d.mesi.join(';') + '\\n';\n                                    d.prodotti.forEach(p => { csv += p.name + ';' + p.data.join(';') + '\\n'; });\n                                    const link = document.createElement(\"a\");\n                                    link.href = URL.createObjectURL(new Blob([csv], { type: 'text/csv' }));\n                                    link.setAttribute(\"download\", \"vendite_ortaggi.csv\");\n                                    link.click();\n                                }\n                            },\n                            magicType: { type: ['line', 'bar', 'stack'] },\n                            restore: {},\n                            saveAsImage: {}\n                        }\n                    },\n                    xAxis: { type: 'category', data: d.mesi },\n                    yAxis: { type: 'value', name: 'k€' },\n                    series: d.prodotti.map(p => ({ ...p, emphasis: { focus: 'series' } }))\n                };\n                this.myChart.setOption(option);\n            },\n            onResize() { if (this.myChart) this.myChart.resize(); }\n        },\n        watch: { msg(n) { this.updateChart(n); } }\n    }\n</script>\n\n<style>\n    .selectable-table-container { user-select: text !important; padding: 15px; background: white; }\n    .ui-table { width: 100%; border-collapse: collapse; font-family: sans-serif; font-size: 12px; }\n    .ui-table th { background: #eee; border: 1px solid #ccc; padding: 8px; }\n    .ui-table td { border: 1px solid #ccc; padding: 6px; text-align: right; }\n    .ui-table tr:hover { background: #f5f5f5; }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":780,"y":560,"wires":[[]]},{"id":"738275b3959620ae","type":"csv","z":"74a3052ef3176e1c","g":"05d0c8e10f9dd3c1","name":"","spec":"rfc","sep":";","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":1050,"y":240,"wires":[["2bb637615803dc76","368e7615c0afb271"]]},{"id":"214ccc51899cfe73","type":"file in","z":"74a3052ef3176e1c","g":"05d0c8e10f9dd3c1","name":"Vendite_ortaggi_2025_chartB.csv","filename":"data\\\\demotest\\\\Vendite_ortaggi_2025_chartB.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1320,"y":140,"wires":[["738275b3959620ae"]]},{"id":"2bb637615803dc76","type":"debug","z":"74a3052ef3176e1c","g":"05d0c8e10f9dd3c1","name":"debug 12","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1240,"y":240,"wires":[]},{"id":"228e42d19e032cc9","type":"inject","z":"74a3052ef3176e1c","g":"05d0c8e10f9dd3c1","name":"Read file","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1040,"y":140,"wires":[["214ccc51899cfe73"]]},{"id":"368e7615c0afb271","type":"function","z":"74a3052ef3176e1c","g":"69f5e45e9bfd50e9","name":"function 9","func":"const rows = msg.payload;\nif (!rows || rows.length === 0) return null;\n\nconst keys = Object.keys(rows[0]);\nconst labelColumn = keys[0];\nconst typeColumn = keys[1];\nconst mesiKeys = keys.slice(2);\n\nconst ortaggi = rows.map(row => {\n    const dataValues = mesiKeys.map(meseKey => {\n        let val = row[meseKey];\n        if (typeof val === 'string') val = val.replace(',', '.').trim();\n        return parseFloat(val) || 0;\n    });\n\n    return {\n        name: row[labelColumn],\n        type: row[typeColumn] || 'line',\n        data: dataValues\n    };\n});\n\nmsg.payload = {\n    mesi: mesiKeys,\n    prodotti: ortaggi\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":480,"wires":[["807d583c7ab7f7c1"]]},{"id":"5220c097a9a66335","type":"comment","z":"70392da6e1db9a70","name":"QDCA: Quaderno di Campagna dell'Agricoltore","info":"AI Overview\nIl Quaderno di Campo Digitale (QDCA) è il registro elettronico obbligatorio per gli agricoltori italiani \ndal 2026 (con proroga al 2027) per tracciare \ntutte le operazioni agricole (trattamenti, fertilizzazioni, semine, raccolte), \nintegrato nel fascicolo aziendale sul SIAN, fondamentale per dimostrare conformità, accedere agli eco-schemi della PAC \n e ottenere incentivi, automatizzando i controlli e garantendo trasparenza.\n\n[Registro dei trattamenti (digitale)]","x":500,"y":40,"wires":[]},{"id":"3248dd956f26bfc8","type":"comment","z":"70392da6e1db9a70","name":"Trattamenti fitosanitari","info":"prodotti utilizzati, dosaggi, date e appezzamenti trattati.\n","x":140,"y":180,"wires":[]},{"id":"8644f0641af92ba0","type":"comment","z":"70392da6e1db9a70","name":"Fertilizzazioni","info":"tipologia, quantità, date e superfici","x":110,"y":240,"wires":[]},{"id":"266a6395126d4ecb","type":"comment","z":"70392da6e1db9a70","name":"Semine e trapianti","info":"specie, date e metodi","x":130,"y":300,"wires":[]},{"id":"138642d2bcf82ee9","type":"comment","z":"70392da6e1db9a70","name":"Irrigazioni","info":"quantità d'acqua, date e modalità","x":100,"y":360,"wires":[]},{"id":"ca2378b83c7d8380","type":"comment","z":"70392da6e1db9a70","name":"Raccolte","info":"quantità, date e destinazione dei prodotti","x":100,"y":420,"wires":[]},{"id":"2d95d33caa8af11d","type":"comment","z":"70392da6e1db9a70","name":"PCG: Piano colturale grafico","info":"Il piano colturale grafico è la rappresentazione digitale e grafica delle colture e dei confini delle parcelle agricole di un'azienda agricola, realizzata su una mappa digitale. Serve a dettagliare le coltivazioni previste e a connetterle con le domande di aiuto e i pagamenti per la Politica Agricola Comune (PAC). Questo strumento è basato su sistemi GIS (Geographic Information System) e viene aggiornato tramite ortofoto satellitari, dati provenienti da droni, informazioni fornite dagli agricoltori e verifiche sul campo. \n\nIl piano colturale grafico non viene compilato direttamente dall'agricoltore, ma dai Centri di Assistenza Agricola (CAA) convenzionati.\nViene gestito attraverso sistemi informativi come il SIAP (Sistema Informativo di Supporto alle Domande di Aiuto e Pagamento).\nL'aggiornamento dei dati avviene in modo congiunto tra i CAA, gli organismi pagatori e le autorità competenti. \n","x":160,"y":40,"wires":[]},{"id":"5ca15a350886a09f","type":"comment","z":"70392da6e1db9a70","name":"PCG: parcelle e mappe","info":"","x":140,"y":120,"wires":[]},{"id":"3e17c823a2765a9f","type":"inject","z":"70392da6e1db9a70","g":"fcf31c40b0535ef0","name":"Read file","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":640,"wires":[["ad4602735a5c3aac"]]},{"id":"ad4602735a5c3aac","type":"file in","z":"70392da6e1db9a70","g":"fcf31c40b0535ef0","name":"tasks.csv","filename":"data\\\\demotest\\\\trattamenti-colturali-1.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":500,"y":740,"wires":[["f114039c5ae08e77"]]},{"id":"f114039c5ae08e77","type":"csv","z":"70392da6e1db9a70","g":"fcf31c40b0535ef0","name":"","spec":"rfc","sep":";","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":610,"y":640,"wires":[["0cb6ee8540b04e66","1b602b228d87bd43"]]},{"id":"0cb6ee8540b04e66","type":"function","z":"70392da6e1db9a70","g":"fcf31c40b0535ef0","name":"function 7","func":"const activities = msg.payload;\nlet ganttCode = \"\";\nlet taskIdCounter = 1;\n\nconst cleanKey = (key) => {\n    return key.replace(/[\\uFEFF\\u200B\\u200C\\u200D\\u200E\\u200F]/g, \"\").trim();\n};\n\nconst parseDateItalian = (dateString) => {\n    const parts = dateString.split(' ');\n    const datePart = parts[0];\n    const timePart = parts[1] || '00:00';\n    const dateComponents = datePart.split('/');\n    if (dateComponents.length < 3) return new Date('Invalid Date');\n    const YYYY = dateComponents[2];\n    const MM = dateComponents[1];\n    const DD = dateComponents[0];\n    const isoString = `${YYYY}-${MM}-${DD}T${timePart}:00`;\n    return new Date(isoString);\n};\n\n\n/*ganttCode += `\n---\ndisplayMode: compact\n---\ngantt */\nganttCode += `gantt\n    dateFormat  YYYY-MM-DD\n    axisFormat %Y-%m-%d\\n`;\n\nactivities.forEach(activity => {\n    const cleanedActivity = {};\n    for (const key in activity) {\n        if (activity.hasOwnProperty(key)) {\n            cleanedActivity[cleanKey(key)] = activity[key];\n        }\n    }\n\n    const taskName = cleanedActivity.task_name;\n    const startDateString = cleanedActivity.start_date;\n    const endDateString = cleanedActivity.end_date;\n    const stateString = cleanedActivity.state;\n\n    if (!taskName) {\n        node.warn(\"Nome task non trovato\");\n        return;\n    }\n\n    const startDate = parseDateItalian(startDateString);\n    const endDate = parseDateItalian(endDateString);\n\n    if (isNaN(startDate.getTime()) || isNaN(endDate.getTime())) {\n        node.warn(`Date non valide; task \"${taskName}\".`);\n        return;\n    }\n\n    const diffTime = Math.abs(endDate.getTime() - startDate.getTime());\n    const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));\n    const startYMD = startDate.toISOString().split('T')[0];\n    const taskId = `t${taskIdCounter++}`;\n    const taskLine = `    ${taskName} :${stateString}, ${taskId}, ${startYMD}, ${diffDays}d\\n`;\n\n    //GLR.Sost: aggiunta link ipertestuali d'esempio  ganttCode += taskLine;\n    ganttCode += taskLine;\n\n});\n\nmsg.payload = ganttCode;\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":640,"wires":[["6623e2ae62f6d7c4","310291a7723e1b44"]]},{"id":"1b602b228d87bd43","type":"debug","z":"70392da6e1db9a70","g":"fcf31c40b0535ef0","name":"debug CSV","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":740,"wires":[]},{"id":"310291a7723e1b44","type":"ui-markdown","z":"70392da6e1db9a70","g":"fcf31c40b0535ef0","group":"3d4e50c2c11618f6","name":"","order":2,"width":"0","height":0,"content":"<h3 class=\"text-h5 text--primary text-center\">Gantt Trattamenti colturali Parcelle-campi-serre (2024)</h3>\n\n```mermaid\n{{ msg.payload }}\n```","className":"","x":1030,"y":620,"wires":[[]]},{"id":"6623e2ae62f6d7c4","type":"debug","z":"70392da6e1db9a70","g":"fcf31c40b0535ef0","name":"debug function 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":680,"wires":[]},{"id":"149bdaa0575f55c9","type":"ui-template","z":"70392da6e1db9a70","d":true,"g":"fcf31c40b0535ef0","group":"3d4e50c2c11618f6","page":"","ui":"","name":"CSS mermaid","order":1,"width":0,"height":0,"head":"","format":"<style>\n.mermaid .crit0, .mermaid .doneCrit0 {\n  fill: #bfc7ff !important;\n  stroke: #ff0000 !important;\n  stroke-width: 2px  !important;\n  font-weight: bold  !important;\n  color: #ff0000 !important;\n}\n\n</style>\n","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1040,"y":580,"wires":[[]]},{"id":"82948a4bfee064a0","type":"ui-template","z":"70392da6e1db9a70","g":"9fa31d31e6b50a2d","group":"b1682ed38add189a","page":"","ui":"","name":"Trattamenti colturali parcelle-campi-serre","order":1,"width":"12","height":"11","head":"","format":"<template>\n\n<!-- v-expansion-panels>\n      <v-expansion-panel>\n        <v-expansion-panel-title>Dettaglio vendite per cliente</v-expansion-panel-title>\n        <v-expansion-panel-text-->\n    <h3 class=\"text-h5 text--primary text-center\">Trattamenti colturali Parcelle-campi-serre (2024-2025)</h3>\n    <div id=\"app\">\n        <v-text-field v-model=\"search\" label=\"Search\" prepend-inner-icon=\"mdi-magnify\" single-line variant=\"outlined\"\n        hide-details></v-text-field>\n        <v-data-table v-model:search=\"search\" :items=\"msg?.payload\" :headers=\"msg?.payload.key\" :items-per-page=\"10\" height=\"50vh\" \n        fixed-header></v-data-table>\n        <!-- group-by=\"AA consegna ordine\" show-group-by></v-data-table -->\n    </div>\n        <!-- /v-expansion-panel-text-->\n      <!-- /v-expansion-pane--l>\n\n  <!-- /v-expansion-panel -->\n<!-- /v-expansion-panels-->\n</template>\n\n<script>\n    export default {\n    data () {\n      return {\n        search: '',\n      }\n    },\n  }\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":960,"y":320,"wires":[[]]},{"id":"e8c4a7b26ea6e29f","type":"inject","z":"70392da6e1db9a70","g":"9fa31d31e6b50a2d","name":"Read file","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":220,"wires":[["847a22f8dd857a84"]]},{"id":"847a22f8dd857a84","type":"file in","z":"70392da6e1db9a70","g":"9fa31d31e6b50a2d","name":"Trattamenti colturali cam-ser.csv","filename":"data\\\\demotest\\\\Trattamenti colturali cam-ser.csv","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":670,"y":220,"wires":[["6fd70b2eaedca204"]]},{"id":"6fd70b2eaedca204","type":"csv","z":"70392da6e1db9a70","g":"9fa31d31e6b50a2d","name":"","spec":"rfc","sep":";","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":670,"y":320,"wires":[["82948a4bfee064a0","a79c4a436240d330"]]},{"id":"a79c4a436240d330","type":"debug","z":"70392da6e1db9a70","g":"9fa31d31e6b50a2d","name":"debug 10","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":400,"wires":[]},{"id":"58b3f4d0cace0e6b","type":"comment","z":"70392da6e1db9a70","g":"fcf31c40b0535ef0","name":"Gantt trattamenti colturali (Mermaid)","info":"","x":460,"y":540,"wires":[]},{"id":"1426a2d0c8f1798a","type":"comment","z":"70392da6e1db9a70","g":"9fa31d31e6b50a2d","name":"Tabella trattamenti colturali","info":"","x":430,"y":140,"wires":[]},{"id":"59ecb234d07216df","type":"ui-template","z":"157ae832e595a2da","g":"3614c258766e69c7","group":"077e5e7b861ad4f4","page":"","ui":"","name":"Andamento pioggia/portata irrigua - Dinamico","order":1,"width":"0","height":"0","head":"","format":"<template>\n    <h3 class=\"text-h5 text--primary text-center\">Situazione meteo e storico clima</h3>\n    <div ref=\"chart23\" style=\"width: 1200px; height: 500px\"></div>\n</template>\n\n<script>\nexport default {\n    data() {\n        return {\n            myChart: null,\n            chartTitle: \"Situazione meteo e storico clima\",\n            defaultSource: {\n                title: \"Andamento Idro-Climatico Italia\",\n                months: ['gen', 'feb', 'mar', 'apr', 'mag', 'giu', 'lug', 'ago', 'set', 'ott', 'nov', 'dic'],\n                seriesData: [\n                    {\n                        name: \"Portata media rivi (m³/s)\",\n                        data: [150.0, 130.0, 100.0, 70.0, 50.0, 40.0, 30.0, 30.0, 60.0, 90.0, 120.0, 150.0],\n                        type: 'line',\n                        yAxisIndex: 0\n                    },\n                    {\n                        name: \"Pioggia cumulata (mm)\",\n                        data: [50.0, 70.0, 120.0, 90.0, 60.0, 30.0, 15.0, 25.0, 40.0, 80.0, 110.0, 65.0],\n                        type: 'bar',\n                        yAxisIndex: 1\n                    }\n                ]\n            }\n        }\n    },\n    \n    mounted() {\n        let interval = setInterval(() => {\n            if (window.echarts) {\n                clearInterval(interval);\n                this.initChart();\n            }\n        }, 100);\n        \n        window.addEventListener('resize', this.onResize);\n    },\n\n    beforeUnmount() {\n        if (this.myChart) {\n            window.removeEventListener('resize', this.onResize);\n            this.myChart.dispose();\n        }\n    },\n\n    methods: {\n        initChart: function () {\n            this.myChart = echarts.init(this.$refs.chart23, null, {\n                renderer: 'canvas',\n                useDirtyRect: false\n            });\n            this.applyEchartsOption(this.defaultSource);\n        },\n\n        updateChart: function (msg) {\n            if (msg && msg.payload && msg.payload.seriesData) {\n                this.applyEchartsOption(msg.payload);\n            } else {\n                 console.warn(\"Formato payload non valido in msg.\");\n            }\n        },\n\n        applyEchartsOption: function (inputData) {\n            \n            this.chartTitle = inputData.title;\n\n            const option = {\n                title: { text: inputData.title, subtext: 'Fonte: ISPRA/Protezione Civile' },\n                tooltip: { trigger: 'axis', axisPointer: { type: 'shadow' } },\n                legend: { data: inputData.seriesData.map(s => s.name) },\n                toolbox: { \n                    show: true, \n                    feature: { \n                        dataView: { show: true, readOnly: false }, \n                        magicType: { show: true, type: ['line', 'bar'] }, \n                        restore: { show: true }, \n                        saveAsImage: { show: true } \n                    } \n                },\n                xAxis: {\n                    type: 'category',\n                    data: inputData.months\n                },\n                yAxis: [\n                    {\n                        type: 'value',\n                        name: 'Portata (m³/s)',\n                        min: 0,\n                        max: 200,\n                        position: 'right',\n                        axisLabel: { formatter: '{value} m³/s' }\n                    },\n                    {\n                        type: 'value',\n                        name: 'Pioggia (mm)',\n                        min: 0,\n                        max: 200,\n                        position: 'left',\n                        axisLabel: { formatter: '{value} mm' }\n                    }\n                ],\n                series: inputData.seriesData.map(s => ({\n                    name: s.name,\n                    type: s.type,\n                    yAxisIndex: s.yAxisIndex,\n                    data: s.data,\n                    emphasis: { focus: 'series' }\n                }))\n            };\n\n            this.myChart.setOption(option, true);\n        },\n\n        onResize() {\n            if (this.myChart) this.myChart.resize();\n        }\n    },\n\n    watch: {\n        msg(newMsg) {\n            if (this.myChart) {\n                this.updateChart(newMsg);\n            }\n        }\n    }\n}\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":610,"y":100,"wires":[[]]},{"id":"affc3e37e1b5324d","type":"inject","z":"157ae832e595a2da","g":"3614c258766e69c7","name":"Dati 2022 (Siccità)","props":[{"p":"payload"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"title\":\"Andamento Idro-Climatico Italia (2022 - Siccità)\",\"months\":[\"Gen\",\"Feb\",\"Mar\",\"Apr\",\"Mag\",\"Giu\",\"Lug\",\"Ago\",\"Set\",\"Ott\",\"Nov\",\"Dic\"],\"seriesData\":[{\"name\":\"Portata media rivi (m³/s)\",\"data\":[70,50,40,35,30,25,15,10,20,35,50,60],\"type\":\"line\",\"yAxisIndex\":0},{\"name\":\"Pioggia cumulata (mm)\",\"data\":[40,35,45,55,60,30,10,15,30,60,70,50],\"type\":\"bar\",\"yAxisIndex\":1}]}","payloadType":"json","x":210,"y":100,"wires":[["59ecb234d07216df"]]},{"id":"39d24baeae590637","type":"inject","z":"157ae832e595a2da","g":"3614c258766e69c7","name":"Dati 2023 (alluvione maggio)","props":[{"p":"payload"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"title\":\"Andamento Idro-Climatico Italia (2023 - Alluvione)\",\"months\":[\"Gen\",\"Feb\",\"Mar\",\"Apr\",\"Mag\",\"Giu\",\"Lug\",\"Ago\",\"Set\",\"Ott\",\"Nov\",\"Dic\"],\"seriesData\":[{\"name\":\"Portata media rivi (m³/s)\",\"data\":[100,60,40,50,180,70,40,30,45,90,120,80],\"type\":\"line\",\"yAxisIndex\":0},{\"name\":\"Pioggia cumulata (mm)\",\"data\":[60,30,40,80,200,60,20,30,40,100,130,80],\"type\":\"bar\",\"yAxisIndex\":1}]}","payloadType":"json","x":210,"y":160,"wires":[["fbbf60d01d2296fe"]]},{"id":"70ddedeafd47eed2","type":"inject","z":"157ae832e595a2da","g":"1d1e380804c3a105","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":520,"wires":[["f7e4204c9bfae102","8ac6e5bbd467af56"]]},{"id":"f7e4204c9bfae102","type":"random","z":"157ae832e595a2da","g":"1d1e380804c3a105","name":"","low":1,"high":"100","inte":"true","property":"payload","x":320,"y":520,"wires":[["80dfea2d5631e9f9"]]},{"id":"80dfea2d5631e9f9","type":"ui-gauge","z":"157ae832e595a2da","g":"1d1e380804c3a105","name":"Riserva idrica Serb. 2","group":"0331e114a0bd495b","order":3,"value":"payload","valueType":"msg","width":"2","height":3,"gtype":"gauge-tank","gstyle":"rounded","title":"Riserva Serb. 2","alwaysShowTitle":false,"units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ccf0ff","text":"","textType":"label"},{"from":"33","color":"#a0d4ee","text":"","textType":"label"},{"from":"66","color":"#518ef0","text":"","textType":"label"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":"2","sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"text-green","x":540,"y":480,"wires":[[]]},{"id":"69a51d9ef949c48c","type":"ui-gauge","z":"157ae832e595a2da","g":"1d1e380804c3a105","name":"Consumo Serb. 2","group":"0331e114a0bd495b","order":4,"value":"payload","valueType":"msg","width":3,"height":3,"gtype":"gauge-half","gstyle":"rounded","title":"Consumo","alwaysShowTitle":false,"units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ccf0ff","text":"","textType":"label"},{"from":"33","color":"#a0d4ee","text":"","textType":"label"},{"from":"66","color":"#518ef0","text":"","textType":"label"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":"2","sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":530,"y":560,"wires":[[]]},{"id":"8ac6e5bbd467af56","type":"random","z":"157ae832e595a2da","g":"1d1e380804c3a105","name":"","low":1,"high":"100","inte":"true","property":"payload","x":320,"y":600,"wires":[["69a51d9ef949c48c"]]},{"id":"c3c7092de7a6d353","type":"comment","z":"157ae832e595a2da","g":"1d1e380804c3a105","name":"Irrigazione Campi","info":"","x":140,"y":280,"wires":[]},{"id":"38ed211c8b6c4813","type":"inject","z":"157ae832e595a2da","g":"1d1e380804c3a105","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":360,"wires":[["212877a27607375f","18eb8167f78a6d75"]]},{"id":"212877a27607375f","type":"random","z":"157ae832e595a2da","g":"1d1e380804c3a105","name":"","low":1,"high":"100","inte":"true","property":"payload","x":320,"y":360,"wires":[["bf18648258a5877a"]]},{"id":"bf18648258a5877a","type":"ui-gauge","z":"157ae832e595a2da","g":"1d1e380804c3a105","name":"Riserva idrica Serb. 1","group":"0331e114a0bd495b","order":1,"value":"payload","valueType":"msg","width":"2","height":"3","gtype":"gauge-tank","gstyle":"rounded","title":"Riserva Serb. 1","alwaysShowTitle":false,"units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ccf0ff","text":"","textType":"label"},{"from":"33","color":"#a0d4ee","text":"","textType":"label"},{"from":"66","color":"#518ef0","text":"","textType":"label"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":"2","sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"text-teal","x":540,"y":320,"wires":[[]]},{"id":"8eb1aff10f8ae28b","type":"ui-gauge","z":"157ae832e595a2da","g":"1d1e380804c3a105","name":"Consumo Serb. 1","group":"0331e114a0bd495b","order":2,"value":"payload","valueType":"msg","width":"3","height":"3","gtype":"gauge-half","gstyle":"rounded","title":"Consumo","alwaysShowTitle":false,"units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ccf0ff","text":"","textType":"label"},{"from":"33","color":"#a0d4ee","text":"","textType":"label"},{"from":"66","color":"#518ef0","text":"","textType":"label"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":"2","sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":530,"y":400,"wires":[[]]},{"id":"18eb8167f78a6d75","type":"random","z":"157ae832e595a2da","g":"1d1e380804c3a105","name":"","low":1,"high":"100","inte":"true","property":"payload","x":320,"y":440,"wires":[["8eb1aff10f8ae28b"]]},{"id":"63f617158dcae4f4","type":"inject","z":"157ae832e595a2da","g":"1d1e380804c3a105","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":680,"wires":[["3c1db1f19f0da34e","f62bbf9dc14d452d"]]},{"id":"3c1db1f19f0da34e","type":"random","z":"157ae832e595a2da","g":"1d1e380804c3a105","name":"","low":1,"high":"100","inte":"true","property":"payload","x":320,"y":680,"wires":[["ecca6192c6746510"]]},{"id":"ecca6192c6746510","type":"ui-gauge","z":"157ae832e595a2da","g":"1d1e380804c3a105","name":"Riserva idrica Serb. 3","group":"0331e114a0bd495b","order":5,"value":"payload","valueType":"msg","width":"2","height":3,"gtype":"gauge-tank","gstyle":"rounded","title":"Riserva Serb. 3","alwaysShowTitle":false,"units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ccf0ff","text":"","textType":"label"},{"from":"33","color":"#a0d4ee","text":"","textType":"label"},{"from":"66","color":"#518ef0","text":"","textType":"label"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":"2","sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"text-light-green","x":540,"y":640,"wires":[[]]},{"id":"24471556c3bbf947","type":"ui-gauge","z":"157ae832e595a2da","g":"1d1e380804c3a105","name":"Consumo Serb. 3","group":"0331e114a0bd495b","order":6,"value":"payload","valueType":"msg","width":3,"height":3,"gtype":"gauge-half","gstyle":"rounded","title":"Consumo","alwaysShowTitle":false,"units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ccf0ff","text":"","textType":"label"},{"from":"33","color":"#a0d4ee","text":"","textType":"label"},{"from":"66","color":"#518ef0","text":"","textType":"label"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":"2","sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":530,"y":720,"wires":[[]]},{"id":"f62bbf9dc14d452d","type":"random","z":"157ae832e595a2da","g":"1d1e380804c3a105","name":"","low":1,"high":"100","inte":"true","property":"payload","x":320,"y":760,"wires":[["24471556c3bbf947"]]},{"id":"ce625fee3b1ee256","type":"comment","z":"157ae832e595a2da","name":"n4D: Monitoraggio sensoristica colturale","info":"","x":890,"y":240,"wires":[]},{"id":"d67817bfd06c4659","type":"comment","z":"157ae832e595a2da","g":"49d7b5a2a91bd387","name":"Microclima Serre","info":"","x":860,"y":320,"wires":[]},{"id":"9ec436d1de9a0656","type":"ui-gauge-classic","z":"157ae832e595a2da","g":"462ccd9eed3bea0d","name":"Temperatura","group":"adde8ab66c381507","order":1,"width":"2","height":"2","min":"-30","max":"50","sectors":[{"start":"-30","color":"skyblue"},{"start":"15","color":"green"},{"start":"30","color":"yellow"},{"start":"38","color":"red"}],"major_division":"10","minor_division":"1","value_decimal_places":"1","scale_decimal_places":"0","label":"","measurement":"Temperatura","units":"°C","needles":[{"topic":"temperature","color":"black","lengthPercent":"100"},{"topic":"setpoint","color":"brown","lengthPercent":"67"},{"topic":"power","color":"gray","lengthPercent":"50"}],"hubcolor":"black","sweep_angle":"250","keepwidth":true,"myclass":"","x":1310,"y":460,"wires":[]},{"id":"2f379e0f0f61aca7","type":"inject","z":"157ae832e595a2da","g":"462ccd9eed3bea0d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"temperature","payload":"","payloadType":"date","x":930,"y":460,"wires":[["21210841be63e29e"]]},{"id":"21210841be63e29e","type":"random","z":"157ae832e595a2da","g":"462ccd9eed3bea0d","name":"","low":"-30","high":"50","inte":"true","property":"payload","x":1140,"y":460,"wires":[["9ec436d1de9a0656"]]},{"id":"7da7d1b3aa9ea759","type":"ui-gauge-classic","z":"157ae832e595a2da","g":"462ccd9eed3bea0d","name":"Umidità","group":"adde8ab66c381507","order":2,"width":"2","height":"2","min":"0","max":"100","sectors":[{"start":"0","color":"skyblue"},{"start":"50","color":"green"},{"start":"70","color":"yellow"},{"start":"80","color":"red"}],"major_division":"10","minor_division":"1","value_decimal_places":"1","scale_decimal_places":"0","label":"","measurement":"Umidità","units":"%","needles":[{"topic":"umidita","color":"black","lengthPercent":"100"},{"topic":"setpoint","color":"brown","lengthPercent":"67"},{"topic":"power","color":"gray","lengthPercent":"50"}],"hubcolor":"black","sweep_angle":"250","keepwidth":true,"myclass":"","x":1300,"y":540,"wires":[]},{"id":"62184cdef51b4bee","type":"random","z":"157ae832e595a2da","g":"462ccd9eed3bea0d","name":"","low":"0","high":"100","inte":"true","property":"payload","x":1140,"y":540,"wires":[["7da7d1b3aa9ea759"]]},{"id":"ec13bd92c251ce73","type":"inject","z":"157ae832e595a2da","g":"462ccd9eed3bea0d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"umidita","payload":"","payloadType":"date","x":910,"y":540,"wires":[["62184cdef51b4bee"]]},{"id":"81c930a7e761630c","type":"comment","z":"157ae832e595a2da","g":"462ccd9eed3bea0d","name":"Microclima Serra 1","info":"","x":890,"y":400,"wires":[]},{"id":"fbbf60d01d2296fe","type":"ui-template","z":"157ae832e595a2da","g":"3614c258766e69c7","group":"077e5e7b861ad4f4","page":"","ui":"","name":"Andamento pioggia/portata irrigua - Dinamico","order":2,"width":"0","height":"0","head":"","format":"<template>\n    <h3 class=\"text-h5 text--primary text-center\">Situazione meteo e storico clima</h3>\n    <div ref=\"chart23\" style=\"width: 1200px; height: 500px\"></div>\n</template>\n\n<script>\nexport default {\n    data() {\n        return {\n            myChart: null,\n            chartTitle: \"Situazione meteo e storico clima\",\n            defaultSource: {\n                title: \"Andamento Idro-Climatico Italia\",\n                months: ['gen', 'feb', 'mar', 'apr', 'mag', 'giu', 'lug', 'ago', 'set', 'ott', 'nov', 'dic'],\n                seriesData: [\n                    {\n                        name: \"Portata media rivi (m³/s)\",\n                        data: [150.0, 130.0, 100.0, 70.0, 50.0, 40.0, 30.0, 30.0, 60.0, 90.0, 120.0, 150.0],\n                        type: 'line',\n                        yAxisIndex: 0\n                    },\n                    {\n                        name: \"Pioggia cumulata (mm)\",\n                        data: [50.0, 70.0, 120.0, 90.0, 60.0, 30.0, 15.0, 25.0, 40.0, 80.0, 110.0, 65.0],\n                        type: 'bar',\n                        yAxisIndex: 1\n                    }\n                ]\n            }\n        }\n    },\n    \n    mounted() {\n        let interval = setInterval(() => {\n            if (window.echarts) {\n                clearInterval(interval);\n                this.initChart();\n            }\n        }, 100);\n        \n        window.addEventListener('resize', this.onResize);\n    },\n\n    beforeUnmount() {\n        if (this.myChart) {\n            window.removeEventListener('resize', this.onResize);\n            this.myChart.dispose();\n        }\n    },\n\n    methods: {\n        initChart: function () {\n            this.myChart = echarts.init(this.$refs.chart23, null, {\n                renderer: 'canvas',\n                useDirtyRect: false\n            });\n            this.applyEchartsOption(this.defaultSource);\n        },\n\n        updateChart: function (msg) {\n            if (msg && msg.payload && msg.payload.seriesData) {\n                this.applyEchartsOption(msg.payload);\n            } else {\n                 console.warn(\"Formato payload non valido in msg.\");\n            }\n        },\n\n        applyEchartsOption: function (inputData) {\n            \n            this.chartTitle = inputData.title;\n\n            const option = {\n                title: { text: inputData.title, subtext: 'Fonte: ISPRA/Protezione Civile' },\n                tooltip: { trigger: 'axis', axisPointer: { type: 'shadow' } },\n                legend: { data: inputData.seriesData.map(s => s.name) },\n                toolbox: { \n                    show: true, \n                    feature: { \n                        dataView: { show: true, readOnly: false }, \n                        magicType: { show: true, type: ['line', 'bar'] }, \n                        restore: { show: true }, \n                        saveAsImage: { show: true } \n                    } \n                },\n                xAxis: {\n                    type: 'category',\n                    data: inputData.months\n                },\n                yAxis: [\n                    {\n                        type: 'value',\n                        name: 'Portata (m³/s)',\n                        min: 0,\n                        max: 200,\n                        position: 'right',\n                        axisLabel: { formatter: '{value} m³/s' }\n                    },\n                    {\n                        type: 'value',\n                        name: 'Pioggia (mm)',\n                        min: 0,\n                        max: 200,\n                        position: 'left',\n                        axisLabel: { formatter: '{value} mm' }\n                    }\n                ],\n                series: inputData.seriesData.map(s => ({\n                    name: s.name,\n                    type: s.type,\n                    yAxisIndex: s.yAxisIndex,\n                    data: s.data,\n                    emphasis: { focus: 'series' }\n                }))\n            };\n\n            this.myChart.setOption(option, true);\n        },\n\n        onResize() {\n            if (this.myChart) this.myChart.resize();\n        }\n    },\n\n    watch: {\n        msg(newMsg) {\n            if (this.myChart) {\n                this.updateChart(newMsg);\n            }\n        }\n    }\n}\n</script>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":610,"y":160,"wires":[[]]}]